[2018-02-15 07:12] philwareham commented on #1139
Tend to agree with Philippe here. It would be a shame to lose the translated preflight region. The text area in English is fine though.

[2018-02-15 09:20] bloatware commented on #1139
I don't like duplication. Would a possibility to temporarily switch to another language (without importing strings into db) be a option? Then we could output the diagnostics in any available language.

[2018-02-15 10:55] philwareham commented on #1139
We are only talking of around 24 tests where there would need to be both localised and English text string duplicates. Isn't that a price worth paying to allow preflight to be localised and textarea in English? They'd all follow the current pattern of `diag_` prepended to them for the `mode.ini` string versions.

[2018-02-15 11:23] Bloke commented on #1139
We could perhaps be more clever, like @bloatware says.

At the moment, the strings are rendered into an array called `$fail` and then just dumped to the screen. Perhaps instead, we do something like this:
[code]
(or use one array and make the type the second param or something).

That way, we have array(s) of messages so we know all the details about how to render them in. No strings have been bui

[2018-02-15 11:43] #1149 closed

[2018-02-15 15:07] NicolasGraph commented on #1137
Works for me, thanks guys. Should another issue be open to list strings to delete from textpacks?

[2018-02-15 15:19] Bloke commented on #1137
I don't think the `_duplication` strings even made it into the Textpack in the first place. At least, that's why I spotted them because I got a raw untranslated string when I duplicated a theme last night. But if they are in there, once we've removed the strings from core code, file a ticket on the Textpack repo to get them removed from Crowdin too.

[2018-02-15 15:27] NicolasGraph commented on #1137
Ok, thus it still needs to be removed in to places [here](https://github.com/textpattern/textpattern/blob/297d3cc7fcc88fd311a83448119c31307555a379/textpattern/vendors/Textpattern/Skin/Skin.php#L646) and [there](https://github.com/textpattern/textpattern/blob/297d3cc7fcc88fd311a83448119c31307555a379/textpattern/vendors/Textpattern/Skin/Skin.php#L675). I'll do it as it is confusing in these lines.

[2018-02-15 15:37] Bloke commented on #1137
Yes, thank you. And remove `$notImported`... I can't see it initalised anywhere, unless I've missed something.

[2018-02-15 15:37] NicolasGraph opened #1154 "Make skin_synchronize option consistent between methods"
See: https://github.com/textpattern/pophelp/commit/0c890cc556fab810d8c1ce5b1fd36f9a82687cd2

I'll do it.

[2018-02-15 15:39] NicolasGraph commented on #1137
Yes, that's part of the confusing things. I'll do it.

[2018-02-15 17:09] NicolasGraph commented on #1154
@Bloke,
I started to work on that but there is something I'd like to discuss.
For now, it is not allowed to create a theme if its directory exists to avoid to override something you wouldn't want to on export.

The thing is that if we only delete valid templates on deletion (as for import/export), the skin directory could be not removed because of the presence of any file which wouldn't be a valid

[2018-02-15 18:02] Bloke commented on #1154
Hmmm, yes, that's an issue. Rats. Not sure what to do for best here. Umm....

[2018-02-19 11:10] Bloke commented on #1098
The only possible thing to worry about now is the 'delete everything in the theme folder when you delete a theme' issue - see #1154. Not sure the best way to resolve that. Ideas welcome.

As far as I'm concerned, after that we're done here. We can merge themes into dev, give it all a final soak test, then add checksums and it's game on for beta.

Any last requests?

[2018-02-19 11:14] NicolasGraph commented on #1098
While working on the feature your talking about, I found a bug coming from the way I get template files; the filter does not work correctly. I'm trying to understand and fix.

[2018-02-19 11:16] Bloke commented on #1098
OK, no worries. Note I changed the themes branch this morning so you'll need to merge with yours to get the latest callback modifications.

I've also added one more thing I forgot to the list in my post above. I'll try and figure out the best way to tackle that later today or tomorrow.

[2018-02-19 11:18] NicolasGraph commented on #1098
Ok @Bloke, thanks.

[2018-02-19 11:25] Bloke commented on #1084
This may have (partially) been resolved with the improvements that @bloatware made to the txp_die routine. Is there anything more we need to consider here? Do we need to go as far as implementing point (4) in the OP or can we just get away with tweaking `fetch_form()` to take the theme into account? Is there a neat and backwards-compatible way of doing this? Introducing a `theme` attribute seems t

[2018-02-19 14:54] NicolasGraph commented on #1154
`skin_synchronize` should work the same way on deletion and import/export in my branch now.
I'll perform more tests before to send a PR because I also fixed a bug into _RecFilterIterator_.
I guess I should also display a warning if the theme directory still exists after deletion+synchronization; I can't think about something cleverer for now.

[2018-02-20 09:03] philwareham commented on #1098
Hi. I'm going to merge themes branch into dev later today. Please continue any further theme feature edits there. Users tend to test dev branch above all others so by merging we open testing to a wider group. Thanks.

[2018-02-20 11:23] bloatware commented on #1084
Not sure whether it's prudent to introduce a `theme` attribute now. Themes are linked with sections and 4.8 Custom fields will likely be too. Hence a form from Theme 1 might be completely irrelevant in Theme 2.

I'd say use the theme of the default section if nothing better is found in this case.

[2018-02-20 11:32] NicolasGraph commented on #1098
Ok @philwareham, I just sent a PR for you to merge last changes about `skin_synchronize` behaviour on deletion into _themes_ before merging it into _dev_.

[2018-02-20 12:25] Bloke commented on #1084
I'm fine with that. Won't get a chance to look at it today, so if you're at a loose end... :-)

[2018-02-20 12:37] #1137 closed

[2018-02-20 12:41] philwareham commented on #1098
OK, themes now in dev. Thanks Nicholas for the extensive work. Go wild everyone! 🎉🎉🎉

[2018-02-20 14:13] bloatware commented on #1084
I don't understand why this condition
[code]
but keep it, in doubt. Now the default section's theme is used on error pages, save for logged in users.

[2018-02-20 15:16] Bloke commented on #1084
Thanks for the patch.

Not entirely sure what that line you mentioned is for. I think there might be cases such as displaying a context other than "article" (e.g. an image, link, author, category, etc list) where there's no explicit section defined as the destination. For example, if a `<txp:*_list>` tag is used without 'thissection' or `section` attributes.

Under those conditions, it _may_ reach

[2018-02-20 15:31] petecooper opened #1158 "Automated installer defaults to `zero` theme"
I'm rebuilding the demo server from scratch in anticipation of the upcoming beta, and it looks like the automated installer is defaulting to the `zero` theme when no theme is explicitly requested in the JSON file.

Tagging in https://github.com/textpattern/textpattern/issues/1101 for completeness.

**JSON with no theme**

[code]

This connects fine, and recognises English, and then installs `zero`

[2018-02-20 15:45] Bloke commented on #1158
Probably a bug that's resurfaced as part of the Themes changes. Both the manual and automated installers should respect your choice of theme - bearing in mind that the [sort-of-relative-path needs to be specified too](https://github.com/textpattern/textpattern/issues/1101#issuecomment-357912665) - or if you've not specified a theme (or used a bogus path), the default `four-point-seven` should be u

[2018-02-20 16:01] petecooper commented on #1158
Thanks @Bloke - confirming that using the automated installer with Textpattern relative paths works fine, that slipped my mind. Great remindin', there!

While we have the chance to fix this, is it viable to tweak the theme namespace a bit? There are admin-side themes and front-side themes, clearly `"public_theme"` refers to the front-side, but `"theme"` isn't _obviously_ admin-side and appears bef

[2018-02-20 16:08] Bloke commented on #1158
Re: Changing the name of the JSON pref, that's a wholly-reasonable request. Can't see any reason it wouldn't work, beyond the fact that we (short-sightedly) employed the term 'theme' as a prefs key to mean 'admin theme'.

Depending on how stuff's wired behind the scenes, we might need to do a little translation between the JSON key and the database. But as a rule of thumb we shouldn't expose inter

[2018-02-20 16:09] petecooper commented on #1158
Fantastic -thank you. Shall I jettison to a new issue?

[2018-02-20 16:11] Bloke commented on #1158
Yes please.

[2018-02-20 16:28] petecooper opened #1159 "Theme terminology namespacing: `theme` and `public-theme`"
Background: https://github.com/textpattern/textpattern/issues/1158#issuecomment-367025024 and followup from @Bloke https://github.com/textpattern/textpattern/issues/1158#issuecomment-367027542

The Textpattern 4.7.0 automated installer uses JSON for the setup details, and the `site` section (excerpted below) refers to `theme` and `public_theme`:

[code]

The admin-side is `theme` and the front-sid

[2018-02-20 16:35] Bloke commented on #1159
We should look at all the keys actually, as you suggest. I think datadir, for example, is just something makss chose arbitrarily. It could be anything, as long as we're consistent throughout.

Propose ideas for better key names and we'll get this done.

[2018-02-20 16:48] petecooper commented on #1159
Assuming the JSON is exhaustive:

* `site` &rarr; leave as-is
** `lang` &rarr; `site_language` (users can have their own local lang, etc)
** `siteurl` &rarr; `site_url`
** `theme` &rarr; `admin_theme`
** `public_theme` &rarr; `front_theme` or leave as-is
** `datadir` &rarr; `data_directory` (I don't know what this does)
* `mysql` &rarr; `database` (leaves scope for non MySQL stuff in future)
** `u

[2018-02-20 17:11] Bloke commented on #1159
Great start, thank you. A few comments:

1. If we're prefixing the group, can we get away with not repeating the group name in the keys themselves? e.g. `site` -> `site_language` could become `site`-> `language` or (perhaps better for ambiguity) `language_code` since we don't want anyone writing `English` or `French` in there, It needs to be `en`, `fr`, etc. Same with `site_url`. Could just be URL

[2018-02-20 17:17] petecooper commented on #1159
Revised:

Assuming the JSON is exhaustive:

`site`
`lang` &rarr; `language_code`
`siteurl` &rarr; `url`
`theme` &rarr; `admin_theme`
`public_theme` &rarr; `front_theme` or leave as-is
`datadir` &rarr; `data_directory` (I still don't know what this does)

`mysql` &rarr; `database`
`user` &rarr; `username`
`pass` &rarr; `password`
`host` &rarr; leave as-is
`db` &rarr; `database`
`table_prefix` &rarr

[2018-02-20 17:25] petecooper commented on #1159
+1. Leave `public_theme` as-is (unless anyone objects), then we have `admin_theme` & `public_theme`.

[2018-02-20 18:33] petecooper opened #1160 "Automated installer front-side theme - `default`, with no content"
(Current 4.7.0-dev)

### Expected behaviour

Automated setup with config for `Four Point Seven` theme should install and use `Four Point Seven` theme.

### Actual behaviour

Automated setup with config for `Four Point Seven` theme installs a theme called `default` with no content, despite console output saying `Four Point Seven` was installed.

Possible regression since themes branch was merged in

[2018-02-20 23:18] Bloke commented on #1160
@NicolasGraph - eeek! Any ideas?

[2018-02-20 23:58] phiw13 commented on #1160
Hmm, I’m not sure this is a regression from the most recent _themes_ refactoring. I noticed the same thing recently on a 2~2½ week old install (manual, using _setup_).

I had installed that for testing something completely unrelated, did my tests but never checked anything under Presentation at the time. I only noticed it more than a few days later, and wasn’t sure anymore what actions  I had take

[2018-02-21 00:59] Bloke commented on #1159
Hopefully 832281e improves things. This is the full list I went with in the end:

[code]
Notes and deviations from Pete's proposal:
1. I went with host/user/password/charset for the database section because that's what MySQL calls them and it seemed logical to use that terminology. Most vendors probably follow suit. We can introduce `database->type` or something in future when we officially expand

[2018-02-21 09:41] Bloke commented on #1159
Ack, the `public_theme_name` pophelp and `gTxt()` strings during setup refer to "Front-side theme". Darnit.

[2018-02-21 09:45] philwareham commented on #1159
We can just change the wording of those texts. I'm sure other languages don't literally translate that anyway.

[2018-02-21 11:00] petecooper commented on #1159
Top work, @Bloke - thank you.

[2018-02-21 11:07] petecooper commented on #1159
I've updated OP at https://github.com/textpattern/textpacks/issues/256 - thanks @philwareham.

[2018-02-21 15:15] petecooper commented on #1159
Job done - closing.

[2018-02-21 15:15] #1159 closed

[2018-02-21 16:34] NicolasGraph commented on #1160
Sorry for the delay, I will take a look tomorrow morning. -------- Message original --------Objet : Re: [textpattern/textpattern] Automated installer front-side theme - `default`, with no content (#1160)De : Stef Dawson À : textpattern/textpattern Cc : Nicolas Morand ,Mention @NicolasGraph - eeek! Any ideas?

—You are receiving this because you were mentioned.Reply to this email directly, view it

[2018-02-22 07:56] NicolasGraph commented on #1160
@petecooper, could you let me know if changing `/setup/themes/four-point-seven` to `four-point-seven` work?

[2018-02-22 08:36] NicolasGraph commented on #1158
…In fact, I did it. Let me know if that is ok… 😶

[2018-02-22 10:11] Bloke commented on #1158
@NicolasGraph I did wonder. I went to go and do it last night and couldn't find the code. That would explain it. Saves me a job, thanks!

[2018-02-22 10:19] NicolasGraph commented on #1158
@Bloke You're welcome; glad it was not a mistake to do it!

[2018-02-22 10:34] NicolasGraph commented on #1158
While I'm not familiar with this kind of install, I'm guessing that it could be a normal behaviour related to the way I modified the public theme select list. While the posted value is the theme name, the one displayed in the form is the theme title (like in the _Themes_ tab import form). In the JSON file, which value is needed? I would tempt to think that it is the posted one but…

[2018-02-22 11:15] petecooper commented on #1160
@NicolasGraph - thank you for your attention on this issue. I need to update the JSON schema to fit @Bloke's changes in https://github.com/textpattern/textpattern/commit/832281e704458cde850d658ca00d09734ac57e81 - I will report back today (Thursday) with my findings.

[2018-02-22 11:18] NicolasGraph commented on #1160
Ok @petecooper, see you.

[2018-02-22 13:31] petecooper commented on #1160
Here are my findings from latest dev version tests:

***

**`"public_theme": "",`**
[code]
**Result**: installs `zero` theme, with 1 Sections, 2 Pages, 6 Forms, 1 Style. `four-point-seven` is not installed.

<img width="509" alt="safariscreensnapz001" src="https://user-images.githubusercontent.com/226578/36540731-5ff9282c-17d3-11e8-86c3-943cfb44775c.png">

***

**`"public_theme": "zero",`**
[code]

[2018-02-22 13:32] petecooper commented on #1160
Also, if `"public_theme": "four-point-seven",` is the expected behaviour, this issue can be closed.

[2018-02-22 13:34] petecooper commented on #1160
Actually, yes - re-reading this thread, the issue is resolved. I will close. Thanks @NicolasGraph

[2018-02-22 13:34] #1160 closed

[2018-02-22 13:37] NicolasGraph commented on #1158
As https://github.com/textpattern/textpattern/issues/1160 was closed, Is there still something to fix in this issue?

[2018-02-22 13:40] petecooper commented on #1158
@NicolasGraph - possibly, yes. The scope of this issue, to me, is that if no theme is specified in the JSON then the `zero` theme is installed. Is this expected behaviour?

[2018-02-22 13:48] NicolasGraph commented on #1158
Shouldn't it be `four-point-seven`, as suggested [here](https://github.com/textpattern/textpattern/blob/dev/textpattern/setup/index.php#L404)?
How does the auto install work? I guess the JSON file is used to set `$cfg`, right?

[2018-02-22 13:56] petecooper commented on #1158
If the code logic at https://github.com/textpattern/textpattern/blob/dev/textpattern/setup/index.php#L404 is saying: "if the `"public_theme"` setting in `"site"` is empty (not specified), then install `four-point-seven`", that does not happen with the latest build.

The results at https://github.com/textpattern/textpattern/issues/1160#issuecomment-367681328 show that an unset/unspecified `"public_

[2018-02-22 14:01] NicolasGraph commented on #1158
Thanks @petecooper, I'm going to try the auto-install.

[2018-02-22 14:39] NicolasGraph commented on #1158
There is something I'm doing wrong with the auto-install…
Using this:

[code]

I get the following errors…

[code]

[2018-02-22 14:40] petecooper commented on #1158
Check your database permissions - also, try setting your host to `127.0.0.1`.

[2018-02-22 14:42] Bloke commented on #1158
Expected behaviour: if no `public_theme` is specified OR (perhaps) if the `public_theme` is in some way mangled/does not point to a valid theme manifest, then `four-point-seven` (a.k.a. 'default') theme is installed.

This is a concern in manual installs too - if someone drops a theme that is fubar into the `themes` directory, what should we do?

a) Not show it as an option in the list? (I think w

[2018-02-22 14:44] NicolasGraph commented on #1158
Of course not… You're starting to know me well. 😕

[2018-02-22 15:11] NicolasGraph commented on #1158
Well, I'm still not able to connect…

directory, what should we do?

b) Refuse to install it?
c) Error / die?
d) Drop back to four-point-seven?
e) Something else...?

a) is used for now. To be displayed in the select list, a theme must contains a _manifest_ file containing at least the following field+value : `txp-type="textpattern-theme"`.

[2018-02-22 15:43] Bloke commented on #1158
a) is fine. It's what I expect, and, yes, I like the fallback that if anything's mashed inside the tempalte (e.g. forms missing) then the essential stuff is created.

As for not being able to connect... hmmm. One thing I'm not sure about is what happens if you specify a field and leave it empty. e.g. `charset`. Does that set the charset to `''` (nothing) or use the default if empty? Depends on how

[2018-02-22 15:49] NicolasGraph commented on #1158
Unfortunatly, it does not work…

[code]

but this does work:

[code]

[2018-02-22 15:52] Bloke commented on #1158
Maybe it's a path issue then? Weird. PHP should know where to find MySQL, and clearly it's installed. `php.ini`? `my.cnf`? PATH variable? Not sure.

[2018-02-22 15:53] petecooper commented on #1158
For what it's worth, I usually use VirtualBox or Raspberry Pi environments for macOS web dev as MAMP has all kinds of quirks to work around.

[2018-02-22 15:54] Bloke commented on #1158
P.S. This is a bug. We shouldn't assume that `$textpack` exists on line 374 if, for some reason, the wrong lang code is specified or the dir is not readable or something. Need a defensive code wrapper around the `foreach` to check `if ($textpack) { ...}` methinx. Or does that just mask the real issue?

[2018-02-22 15:58] NicolasGraph commented on #1158
I don't have this message anymore with the last _dev_ version. But that could maybe be an issue in other cases…

[2018-02-22 16:19] NicolasGraph commented on #1158
@petecooper, could you try to apply https://github.com/NicolasGraph/textpattern/commit/4f03445d8f08ff25b3e64b1e39649d42ee4cd660 to your _dev_ version? Not sure it will fix this issue but it should at least avoid to have an empty _default_ theme installed when the provided public theme is not valid.

[2018-02-22 16:20] philwareham commented on #1158
I've just tested auto install on MAMP here and it's working as expected. If that helps anyone.

[2018-02-22 16:22] NicolasGraph commented on #1158
Nothing special about your config?

[2018-02-22 16:26] philwareham commented on #1158
No, not that I know of. I did specify a `public_url` as I assume that it a minimum requirement needed to install. And I'm using MAMP Pro because I need a GUI for everything ;).

[2018-02-22 16:30] NicolasGraph commented on #1158
Ok, thanks @philwareham, I'm also using Mamp Pro. I guess I'll be able to make it work with fresher eyes tomorrow…

[2018-02-22 16:59] petecooper commented on #1158
OK, results from https://github.com/textpattern/textpattern/issues/1158#issuecomment-367734352 coming up…

Current `dev` version with https://github.com/NicolasGraph/textpattern/commit/4f03445d8f08ff25b3e64b1e39649d42ee4cd660 applied (listing lines 400 to 410):

[code]
Running the auto-installer manually:

[code]

…shows the `zero` theme installed, and logging in to the admin-side confirms this:

[2018-02-22 23:25] NicolasGraph commented on #1158
@petecooper, I was able to test multiple auto-installs and everything went well.
The right default theme was install when `public_theme` was empty (or unknown, with my commit merged).

I thought @philwareham was confirming the auto-install worked with Mamp, but I'm seing he was telling us that it worked as expected…

While it should not fix your issue, my last commit could have not been up to date

[2018-02-22 23:36] #1154 closed

[2018-02-23 13:42] petecooper commented on #1158
@NicolasGraph - I believe you, I must be on a different commit here. I will investigate some more today. Thanks for your continued assistance with this.

For reference, the Textpattern version suffix in `-dev` diagnostics appears to be a hash of some sort - where is that listed? I looked through https://github.com/textpattern/textpattern/blob/dev/textpattern/include/txp_diag.php and it's not clear

[2018-02-23 14:09] Bloke commented on #1158
Interestingly enough, I spotted that hash the other day and wondered where it came from. At first I thought it was a holdover from SVN, then I looked at it seems to be a 'total' md5 hash of all the files and their hashes in `checksums.txt`. Might be wrong, but that seems to be the case. Should be a fixed value for any given release, so that would give us a "fingerprint" for that release.

No idea

[2018-02-23 15:20] petecooper commented on #1158
It's useful insofar as it's less hand-wavey than "I'm using the latest version", but is perhaps an edge case that doesn't need attention. If you're able to point me to the line(s) where the calculation takes place I'll try and recreate it in bash so I can state "using version a1b2cb3etc", but this is so low on the priority list that it should probably be ignored.

[2018-02-23 15:41] Bloke commented on #1158
Look in `txplib_msic.php` at the `check_file_integrity()` function. If you include that file and call the function with `INTEGRITY_DIGEST` as its parameter, then you should get returned the value that matches the one in the diagnostics panel.

[2018-02-23 15:50] philwareham commented on #1098
Can we go to beta next week?

[2018-02-23 15:52] petecooper commented on #1098
Looking at OP, the only outstanding issue is https://github.com/textpattern/textpattern/issues/1084 (which appears to have been partially [mostly?] resolved), and the `HISTORY.txt` stuff can be worked on while the beta(s) are being poked and prodded.

[2018-02-23 16:01] philwareham commented on #1084
Bump! Is this issue done with now? :)

[2018-02-23 16:13] philwareham commented on #1098
I've written a couple of bits of history and checked that one off - it shouldn't be a blocker to beta release anyway as you're right, history can be written anytime. I think we've covered the major changes in 4.7 but feel free to add more lines if you see fit.

So, just checksums and that output_form issue that I don't understand. So *very* close to beta!!

[2018-02-23 16:15] philwareham commented on #1098
Oh, there are also these of course:

https://github.com/textpattern/textpattern/milestone/2

[2018-02-23 16:26] Bloke commented on #1084
Yes, for now.

[2018-02-23 16:26] #1084 closed

[2018-02-23 16:29] Bloke commented on #343
This is done for themes, which encompass forms, pages and styles. We'll unify this in coming releases, so let's leave this here as a reminder, but push it back.

[2018-02-23 16:30] petecooper commented on #1158
I'm still not getting 100% success in the automated installer with themes, but @NicolasGraph and @philwareham _are_, so it's probably a snag at my end. Closing for now pending further poking and prodding.

Thanks, everyone!

[2018-02-23 16:30] #1158 closed

[2018-02-23 16:31] philwareham commented on #343
I'd definitely like to see some form of webhook to re-import an updated theme via a URL as well as the current way of through the panels. Just leaving this here for future consideration.

[2018-02-23 16:32] Bloke commented on #1139
I've started this. Should be done tonight, with luck. Just trying to fathom a neat way around the 'unwritable-directory' messages which share a pophelp but potentially list individual directories alongside. Don't want to have to put the same pophelp by each so my initial idea of putting everything into an array needs tweaking slightly.

[2018-02-23 16:32] petecooper commented on #1098
Can someone update OP to include https://github.com/textpattern/textpattern/milestone/2 as a meta-issue, or duplicate the descriptions as checkbox items, please and thanks?

[2018-02-23 16:35] philwareham commented on #1098
Righto.

[2018-02-23 16:36] Bloke commented on #1141
I don't think there's much else we can do here. Everyone concur? Or can we do more to mitigate this?

[2018-02-23 16:41] Bloke commented on #908
@NicolasGraph Can you remember where we got to with this? I remember trying it out and it was really neat but there were a bunch of plugins that made it break. Can't find where I listed them now.

Did you manage to fix the ToC generator to catch those or, at least, fail gracefully?

[2018-02-23 16:45] Bloke commented on #343
Re: webhook, yes, let's look at implementing that at some point early next release.

[2018-02-24 12:58] philwareham opened #1167 "Additional pophelp items for themes panels"
Various UI items on the new themes panel would benefit from pophelp items. Whilst we will be providing full documentation of the new Themes feature at the docs site we also need some short guidance helps to clarify what some of these UI items do.

[2018-02-25 12:59] bloatware commented on #1139
Nice, but it seems that `en` language must be installed to make it work properly. Could strings rather be retrieved directly from `en.ini`, without importing them into db?

[2018-02-25 13:11] bloatware commented on #1141
Schema validation seems too restrictive, we don't know what kind of documents could be imported in the future. I guess there is nothing we can do if a user imports weird files (XML or whatever) into his txp install.

[2018-02-25 13:51] phiw13 commented on #1139
Aah, that is the issue I was seeing. With French on the admin side and `en-gb` on the front end, I saw a raw string in the textarea (`still_exists`, the only issue that ought to appear on this install, setup…). No `en` installed.

[2018-02-25 13:57] Bloke commented on #1139
D'oh, well spotted. I'll get it to load pack from file, rather than load lang. Bit more expensive, but it's not on the critical path.

[2018-02-26 08:29] NicolasGraph commented on #908
Sorry @Bloke, my related branch does not exist anymore.
I'm going to take a look at my backups but I'm not sure this survived at my git learning some months ago… Otherwise, I guess I could rewrite it for 4.8.

[2018-02-26 08:48] NicolasGraph commented on #908
Found. I will see how it could be improved later today.

[2018-02-26 10:29] philwareham commented on #1167
Done. Closing.

[2018-02-26 10:29] #1167 closed

[2018-02-26 10:56] NicolasGraph commented on #908
[Here](https://github.com/NicolasGraph/textpattern/tree/plugin-help-rendering) is the new branch I created.

Here is what the code expects to activate the rendering:

[code]

Any other case, any `<script>` or `<style>` tag, or any `style` attribute would deactivate the rendering.
Is this too strict?
Here are some test results (checked when activated, default rendering otherwise):
- [ ] abl_droploa

[2018-02-26 23:27] #1139 closed

[2018-02-27 02:18] phiw13 commented on #1139
@Bloke - Thanks, works fine with your  latest patch.

[2018-02-27 09:52] NicolasGraph commented on #908
Here are some new test results (checked when ok, default rendering otherwise):
- [x] _abl_droploader_
- [ ] _cbe_frontauth_ (contains some styles)
- [x] _com_connect_
- [ ] _cwh_link_to_home_ (does not contain any secondary header/section)
- [ ] _cxc_templates_ (contains some javascript)
- [x] _etc_pagination_
- [x] _ied_plugin_composer_
- [x] _jcr_export_txp_templates_
- [x] _jcr_file_custom_
- [

[2018-02-27 09:59] NicolasGraph commented on #908
Also, as noticed in [this commit](https://github.com/NicolasGraph/textpattern/commit/b8401f49f6dfdef3552c8f9382ca82feab8ba84d), `gTxt()` does not work. Not sure why. (current items are used for testing and would need to changed before any PR)

[2018-02-27 10:07] Bloke commented on #908
In order to render `gTxt()` strings from JavaScript you need to load them onto the page. See `txplib_head.php` and look at the `gTxtScript()` array. Add your entries there and it should work.

[2018-02-27 10:19] NicolasGraph commented on #908
Thanks @Bloke, it is working. I use existing strings for now.

[2018-02-27 13:44] petecooper opened #1169 "PHP parsing rights in articles is possibly broken"
Using latest dev version, PHP allowed in articles, and PHP examples from here: https://docs.textpattern.io/tags/php

### Expected behaviour

According to the docs, this should display `phpinfo()` output:

[code]

### Actual behaviour

I get: `Parse error: syntax error, unexpected '<', expecting end of file in /var/www/<snipped>/textpattern/publish/taghandlers.php(4207) : eval()'d code on line 2`

[2018-02-27 13:45] Bloke commented on #1169
*cough* turn off textile *cough* :-)

[2018-02-27 13:54] petecooper commented on #1169
Ah! Yes! Thanks! Mea culpa, schoolboy error. Whoops.

However…different error now thrown.

I confirm `allow_article_php_scripting` is set to yes/allow, and that I have Publisher rights, in Debug mode, with Textile turned off, I get this:

[code]

Anything else I need to check?

[2018-02-27 14:12] Bloke commented on #1169
Try this in your article:
[code]

If it reports anything other than '1' you need to check:
* The `article.php` entry in your `lib/admin_config.php` file reports that 1, 2 or permitted.
* The article is authored by your login.
* Your publisher privs are actually 1!
After that... not sure what else to check.

[2018-02-27 14:33] petecooper commented on #1169
Solved – article was owned by a now-deleted author, and since the article was updated the logged-in user didn't inherit the ownership, hence the wig out.

Thanks @Bloke - I appreciate the second pair of eyes and brainz!

[2018-02-27 14:33] #1169 closed

[2018-02-27 14:37] Bloke commented on #1169
No worries. FWIW, it is annoying that Textile can mangle things to such an extent that we get PHP errors thrown but I'm not sure what else we can do about it to detect this.

[2018-02-27 14:40] NicolasGraph commented on #908
FYI, I moved the list of tested plugins in the first post and I updated it.

[2018-02-27 14:53] Bloke commented on #908
Nice, thanks. No need to excessively pander to plugins that do stupid things like my smd_bio help text. If a plugin doesn't use a decent structure, all we should do is render it verbatim without TOC / fallback gracefully. So don't go mad trying to cater to them all, just whatever you can within reason is perfect.

It's very nice that you've taken a cross-section of plugins and tried to enhance as

[2018-02-27 14:59] NicolasGraph commented on #908
In fact I thought it could be useful in other cases too, that's why I did it.

Yes, That would be nice.

I'll test few more things and send a PR if you're OK.

[2018-02-27 15:04] Bloke commented on #908
Awesome, thanks!

[2018-02-27 16:08] philwareham opened #1170 "English Textpack marked for update when other languages amended"
While I've been adding additional translations for other language Textpacks (not English), I've noticed that when I log in to the control panel of my test site the English (my base language install) Textpack is highlighted as 'Update' when it shouldn't - because only other languages have been updated. Any idea why this is happening @Bloke ?

[2018-02-27 16:32] Bloke commented on #1170
Interesting. Lemme look at that later tonight.

[2018-02-27 16:36] philwareham commented on #1170
I mean, it's no big problem - if I press update, or don't press it, the Textpack is fine either way. Once update is pressed the alert goes away too. Not sure if this happens on other languages if they are set to base, but I assume it does.

[2018-02-27 22:24] phiw13 commented on #1170
Nope, or at least, not on my side (`en-gb` as base, `fr` on the admin side). 2 of the installed languages  were updated this AM.

[2018-02-28 11:02] petecooper opened #1173 "Add an `All` pagination option"
Feature/functionality request: extend the pagination options to include an All button.

I'm working on a site at the moment that has (or appears to have) 160,000+ articles and thousands of users, many of which need housekeeping and/or culling based on category/section/ownership.

This site is running on monstrous hardware with plenty of headroom (former Drupal server) and I'm limited to batches of

[2018-02-28 11:09] philwareham commented on #1173
Well, the text translation for 'all' exists - so from that side it's doable. But wouldn't trying to show 160,000 articles totally blow up your browser!?

Maybe a safer solution would be to have a '192' items option instead?

[2018-02-28 11:24] petecooper commented on #1173
160k is an edge case, for sure…but it's a case where there are lots of attributes that mean I won't be viewing all 160k in one shot – various authors, various categories, etc. Top count so far is in the high 20,000s but I forget the actual number.

(for info, I reckon ~160k article`<tr>` blocks comes to about 275MB before any compression…so yes, the browser would struggle for a bit but the databas

[2018-02-28 11:24] Bloke commented on #1173
No need. A tiny admin-only plugin is your friend:

[code]
Season values to taste.

[2018-02-28 11:25] petecooper commented on #1173
Solid – thanks @Bloke!

[2018-02-28 11:25] #1173 closed

[2018-02-28 11:42] jpdupont commented on #1173
I am very interested in the smd_paginate_plus plugin :-)
Just copy / paste this code into ied_plugin_composer?

[2018-02-28 11:47] Bloke commented on #1173
Yep:

1. Create new plugin in Plugin Composer.
2. Set its type to 'admin only' and enable it.
3. Paste the code into the code area, tweak the values to taste and Save.

[2018-02-28 11:54] petecooper opened #1174 "Default article admin-side hyperlinks get mangled with auto installer"
Using the current dev version with automated installer, nothing weird in the accompanying JSON file, I'm getting mangled internal hyperlinks in the default article. This is what I get in the article body – note the triple forward slashes and references to admin-side removed:

[code]

I don't recall seeing this before, so it may have changed recently or it could be pre-beta snowblind-ness.

Can any

[2018-02-28 12:10] Bloke commented on #1174
Looks like it's not picking up the admin-side URLs properly when doing the replacements in the article. @jools-r any ideas?

[2018-02-28 13:30] jpdupont commented on #1173
Thanks !!!
And ... to upgrade this plugin to images list ???

[2018-02-28 13:58] Bloke commented on #1173
Either add a single extra regsiter callback hook, if you want to use the same pagination values:

[code]

or go mad:

[code]

[2018-02-28 14:00] jpdupont commented on #1173
Fine Stef !

[2018-02-28 16:44] jools-r commented on #1174
From the output, it looks like it's not picking up the constant `ahu` or the global `$adminurl`, so you're getting the `//` from the protocol-less link and `/` before index.php together. I just tried a completely fresh installation with a multisite (`admin.sitename.com`) and regular installation(`sitename.com/textpattern`) and both produce the correct output. So is the auto installer doing somethi

[2018-02-28 16:50] jools-r commented on #1174
And this was [relevant part of your commit](https://github.com/textpattern/textpattern/commit/832281e704458cde850d658ca00d09734ac57e81#diff-e8c311eb53d8dc5eabef8acbb52fb15b) (setup_lib.php) of the changed string names in the JSON file.

[2018-02-28 17:51] Bloke commented on #1174
Hmmm, I expected that if admin_url was missing then it would default to our regular `example.org/textpattern`. Maybe there's a missing/wrong test somewhere that checks if it's `''` instead of `empty()` and lets it through if defined as the empty string?

[2018-02-28 20:35] jools-r commented on #1174
Yes, that's the idea. It happens [here](https://github.com/textpattern/textpattern/blob/dev/textpattern/setup/setup_lib.php#L37). I guess if `$cfg['site']['admin_url']` were to be set but be empty, you’d get just `http://` and the `http`would be stripped out in the xml [replaceUrl()](https://github.com/textpattern/textpattern/commit/85f10b504bf282b57b31b098f64d129f8cfc6543#diff-f7309db96748be1cef1

[2018-03-01 09:09] Bloke commented on #1174
That should work. In fact you can get away with just the empty as it incorporates an isset.
[code]

[2018-03-01 09:38] jools-r commented on #1174
Thanks, didn't know that. That’s even simpler and works on my test installation.

@petecooper: does it work for you with the automatic installer?

[2018-03-01 10:26] petecooper commented on #1174
Just back at my desk now - I'll digest the thread and see what I can find out, and report back.

Thanks @jools-r and @Bloke for your time and attention on this.

[2018-03-01 10:50] petecooper commented on #1174
OK, some progress:

* using the updated code outlined [here](https://github.com/textpattern/textpattern/issues/1174#issuecomment-369373948)

![re](https://user-images.githubusercontent.com/226578/36840763-10286c70-1d3e-11e8-9ca5-ef559f6beae2.png)

* using this JSON:

[code]

…the default article now defaults to:

[code]

…so the `textpattern` URL component is now being found but there's still a tr

[2018-03-01 11:03] petecooper commented on #1174
If the action of leaving `admin_url` blank is a show-stopper, then I can obviously add that in and – presto – problem solved, but it would be great to iron these snags out before wider release.

[2018-03-01 11:03] Bloke commented on #1174
Please take out the `!isset()` test and just use the single `empty()` test, as defined in [this comment](https://github.com/textpattern/textpattern/issues/1174#issuecomment-369525741). Then try again and see if anything changes.

[2018-03-01 11:10] petecooper commented on #1174
@Bloke – thanks, got the same result:

* using https://github.com/textpattern/textpattern/issues/1174#issuecomment-369525741 code changes…

![re](https://user-images.githubusercontent.com/226578/36841704-0b3f1b5c-1d41-11e8-9833-7edb24fb6027.png)

* and same JSON as https://github.com/textpattern/textpattern/issues/1174#issuecomment-369554023

…default article is:

[code]

[2018-03-01 11:25] petecooper commented on #1174
More findings to consider.

Using current dev with no code changes.

**Specify `public_url` in JSON:**

[code]

Result (excerpt): `The "article list":///index.php?event=list is the place to start.`

**Specify `public_url` and `admin_url` in JSON:**

[code]

Result (excerpt): `The "article list"://dev-demo.textpattern.co/textpattern/index.php?event=list is the place to start.`

**Specify `admin_url

[2018-03-01 11:53] Bloke commented on #1174
Weird. I totally expected that `empty()` test to set the default value if the `admin_url` is missing or set to nothing.

Something else is it play then. So, in your current version can you please dump out some debug info just before line 31 https://github.com/textpattern/textpattern/blob/dev/textpattern/setup/setup_lib.php#L31

[code]

And then after it's done the supposed assignment on line 46: h

[2018-03-01 12:11] petecooper commented on #1174
Thanks @Bloke – here goes:

* using code changes outlined [here](https://github.com/textpattern/textpattern/issues/1174#issuecomment-369568654)

![terminalscreensnapz004](https://user-images.githubusercontent.com/226578/36844193-a00a9dee-1d49-11e8-8790-d8a6dad2bd3c.png)

[code]

[2018-03-01 12:42] Bloke commented on #1174
Well first of all it seems like it's not picking up your public site url in the config file. That's a mandatory component of the installation process, so if it's missing we need to figure out why. If it's definitely in your config file (as indicated by earlier posts) then it could be getting overwritten by something earlier in the process. We'll have to dig deeper if that's the case.

Does the res

[2018-03-01 12:43] petecooper commented on #1174
Ah – OK, it wasn't clear to me that the public site was mandatory. Stand by, I'll re-test.

[2018-03-01 13:00] petecooper commented on #1174
OK, now I've updated the JSON to include the `public_url`, and here's the output from the auto install:

[code]

Correctly picks up the site (public) URL, doesn't figure out the admin URL.

[2018-03-01 13:50] jools-r commented on #1174
Forgive me if I'm muddling things, but your screenshot [in the thread above](https://github.com/textpattern/textpattern/issues/1174#issuecomment-369572918) with the added `dmp(…)` insertions shows the `if(!isset(…` and not the `if(empty(…` code.

[2018-03-01 14:01] Bloke commented on #1174
Is it reasonable to expect public_url as mandatory? Without that, the site can't function, right? And we can't populate the site URL pref, which is pretty vital.

So if it's not set in the config file, should we abort? Or can it soldier on and guess the URL based on some other values we can obtain?

[2018-03-01 14:09] petecooper commented on #1174
Good spot – my apologies. I'll reconnect and re-run the tests.

[2018-03-01 14:12] petecooper commented on #1174
Yes, very reasonable. The GUI sniffs it out, so the CLI needs some way of doing the same.

The installer does work but leaves the URL blank internally, which is totally OK because it's only the default stuff that has the missing URL components, which makes perfect sense.

Most straightforward thing would be to have the URL set to mandatory, I'm Captain Guinea Pig for this stuff at the moment and I

[2018-03-01 15:04] petecooper commented on #1174
Checking in –

* three changes made to `setup_lib.php` (2x `dmp` entries from https://github.com/textpattern/textpattern/issues/1174#issuecomment-369568654 and 1x from https://github.com/textpattern/textpattern/issues/1174#issuecomment-369525741 )

![re](https://user-images.githubusercontent.com/226578/36851502-4325ebf2-1d61-11e8-95f3-34c8e5604ab6.png)

…which, gives me this:

[code]

Default arti

[2018-03-01 15:04] #1174 closed

[2018-03-01 15:18] Bloke commented on #1174
See 2b516024.

[2018-03-01 15:45] jools-r commented on #1174
Nice! Glad it worked.

[2018-03-02 13:30] Bloke commented on #1170
I can't reproduce this. I updated English from the UI, altered a few lang files from other languages I already had installed and uploaded the files. They showed as 'update', English did not.

Are there specific steps to reproduce this? Or pre-requisites like a language being (or not being) installed already? Or the public/admin UI set to a particular language when the files are replaced? Or runnin

[2018-03-02 13:39] philwareham commented on #1170
Ok closing this as it’s probably a quirk of my local install (which uses GitHub dev branch and is in constant flux anyway).

[2018-03-02 13:39] #1170 closed

[2018-03-02 15:21] catoblepas25 commented on #929
There is a simple way to remove slash at the end of section

in v. 4.6.2 open /textpattern/txplib_misc.php

5401 line

` $url = hu.urlencode($keys['s']).'/';`

Need to change to
`$url = hu.urlencode($keys['s']).'';`

[2018-03-04 13:07] #908 closed

[2018-03-04 13:08] Bloke commented on #1141
Shall we close this then, and get 4.7.0 beta out?

[2018-03-04 13:41] bloatware commented on #1141
Postpone it to 4.8, perhaps? Custom fields will be a big change, I guess, including XML import.

[2018-03-04 17:32] philwareham commented on #1141
Yep, let’s get beta out ASAP. This can wait.

[2018-03-04 18:04] philwareham commented on #1098
Just want to add Tagalog to the languages in the morning (someone is translating it right now) and I’m happy for beta to release.

[2018-03-04 19:39] Bloke commented on #1098
No worries. I've put together a little script in the toolkit to help rebuild the checksums. It could do with being an 'all-in-one' solution instead of the two-steps I have it right now, but I'm not sure if it can be coerced into working that way. Will see what I can see do.

[2018-03-04 20:18] petecooper commented on #1098
I'm ready to drop in the GitHub URL and beta-demo.textpattern.co will be ready for consumption.

[2018-03-04 23:29] phiw13 opened #1176 "plugin-help should use `.txp-layout-4col-3span` class for the content column"
Currently it uses `.txp-layout-4col-2span`.

Issues with this:
* it breaks the expectation for a theme that the layout is always based on a 4 column grid
* the content column can end up quite narrow, depending on window width…
* …resulting in very short line-lengths (and hard to read text), depending on the font-size.

Ok, I get it, you use that class because otherwise Hive will have very long lin

[2018-03-04 23:52] Bloke commented on #1176
Nicolas mentioned something in the [pull request](https://github.com/textpattern/textpattern/pull/1171) about using different class names here. Is it related to this issue?

[2018-03-04 23:58] phiw13 commented on #1176
That would mostly deal with my *aside* in the OP

[2018-03-05 00:10] Bloke opened #1177 "Pophelp doesn't render on new PHP 7 installs"
### Expected behaviour

Pophelp renders when clicking help topic.

### Actual behaviour

Popup window contains:
[code]

### Steps to reproduce

1. Install brand new 4.7.0-dev on a PHP 7.0.0 host environment.
2. Log in, visit any admin-side tab with a '?' pophelp topic and click it.

I'm unsure if this is because the `HelpAdmin` methods are static and the `register_callback()` in `index.php` can't

[2018-03-05 06:41] phiw13 commented on #1176
A few screenshots to illustrate the issue: https://dev.l-c-n.com/_b/txp-plh

the “iPad“ screenshots are taken in Safari’s responsive view widget. The iMac one is my default-sized browser window; I hacked a bit to illustrate the text size my personal copy of Sandspace would use.

[2018-03-05 06:47] philwareham commented on #1176
Thanks for the details guys, I’ll try to fix later today.

[2018-03-05 08:17] NicolasGraph commented on #1176
I'm available to help now if needed.
I used `.txp-layout-4col-2span` to increase readability on large screens but if it causes issues with smaller sizes, @phiw13 suggestions seem appropriate.
Let me know if and how I can help.

[2018-03-05 09:17] Bloke commented on #1177
Further thought: when setting up the callback, should we use something like:

[code]

Or is that merely a convenience function to allow us to specify callbacks with `->` and `::` in them?

[2018-03-05 09:42] bloatware commented on #1177
Can not reproduce (PHP 5.4 neither 7.1). It seems to complain about `$step` in
[code]
of  `/textpattern/vendors/Textpattern/Module/Help/HelpAdmin.php:55`. What if you replace `$step` with `pophelp`, to test?

And `toCallback()` is merely for convenience, imo.

[2018-03-05 09:49] Bloke commented on #1177
Yeah that works fine. I was just hoping to find a more scientific solution or cause, as it might be indicative of something that'll bite us in core. But if it's not reproducible in later PHP versions, perhaps it's a bug in 7.0.0 that got squashed in one of the many updates since then. I combed the changelog but couldn't find anything of significance (though it was late).

[2018-03-05 10:00] bloatware commented on #1177
Have you tried to dump the faulty `$step` somehow?

[2018-03-05 10:05] Bloke commented on #1177
Yes, and it shows up as a string, right before the call to `self::$step()`! Baffling.

However, if I dump the contents of the `$c` in the `callback_event()` function, the admin help entries have no 'step' defined in the passed array, whereas every other callback registered by core does. Further, the object passed as the function is an actual object in all cases _except_ the admin helper. That's pr

[2018-03-05 10:22] bloatware commented on #1177
Then we should probably
[code]

[2018-03-05 10:26] Bloke commented on #1177
That'll do! Thank you.

[2018-03-05 10:30] philwareham commented on #1176
Can you let me know a plugin that uses this new feature, so I can check it out?

[2018-03-05 10:36] Bloke commented on #1176
com_connect should demonstrate it well.

[2018-03-05 10:38] #1177 closed

[2018-03-05 12:17] philwareham commented on #1176
Aside: `.txp-prefs-group` in Hive (and Classic) already had a max-width rule. The simple fix for the original issue is to use `.txp-layout-4col-3span` which is the correct span for a 4 column layout. I'll sort it out.

[2018-03-05 12:17] #1176 closed

[2018-03-05 12:47] phiw13 commented on #1176
Thanks. Plugin-help is now much more usable.

(hmm + 112b to the weight of my stylesheet…)

[2018-03-05 12:58] philwareham commented on #1176
Yes, I've kept the old `.txp-prefs-group` in the stylesheet for legacy reasons. I'll remove it at Textpattern 4.8 to save a few bytes.

[2018-03-05 13:02] philwareham opened #1178 "Modualise dev JavaScript and use JShint and Uglify for linting and minimising to production"
The currently large single JavaScript file `textpattern.js` is unwieldy and makes dev harder. We need to split this down into it's components, modernise and clean up codebase, and then use tools such as JShint and Uglify to produce production code.

[2018-03-05 13:05] philwareham commented on #1098
OK, I'm ready for you to go to beta - no further commits from me! 😀🎂🎉🏆

[2018-03-05 13:21] philwareham opened #1179 "Localise the 'Welcome' article and other default content (such as category texts)"
I'm pretty sure we can leverage the recent installation changes and make the various default content installed at setup more localised. I can put the content onto Crowdin for translation to expedite this.

This is especially true of things like RTL languages and other non-Latin alphabets where we have an English article amongst the already localised content. Not a great advert for language support

[2018-03-05 14:13] NicolasGraph opened #1180 "Manage plugin help tables of contents"
I was wondering…
Should I provide a way for plugin authors to hide a section on plugin help rendering?
It would be mainly used for tables of contents which are now useless — tabs doing the job. It would allow plugin authors to keep their tables of contents for Txp < 4.7 (or as a fallback?) but hide it for the last release by adding an id or a class to the table header.

Related issue: https://gith

[2018-03-05 14:21] NicolasGraph commented on #1180
it should be formated like so:

[code]

[2018-03-05 14:22] philwareham commented on #1180
I'd rather plugin authors just eventually update their READMEs for 4.7 instead of hiding content via CSS or whatever. If they, in the short term, show a TOC section that it's not the end of the world (and conversely if they remove it and 4.6 or earlier lose a TOC again it's not that bad). IMHO.

[2018-03-05 14:29] NicolasGraph commented on #1180
Ok, thanks @philwareham, I let @Bloke deciding to close or feed this issue. If closed, I'll let @trenc and @drmonkeyninja know that their plugin help file would need a minor enhancement.

[2018-03-05 14:30] Bloke commented on #1180
I agree. Not a huge issue if a bit of content is duplicated. Plugins will need updating anyway.

Can we divert the effort into updating the "Writing a plugin" documentation on docs.textpattern.io? That could do with some love. [See here](https://docs.textpattern.io/development/plugin-user-help-guidelines).

[2018-03-05 14:31] NicolasGraph commented on #1180
Yes, we should remove the TOC suggestion at least.

[2018-03-05 14:31] #1180 closed

[2018-03-05 14:33] philwareham commented on #1180
There's a lot of documentation that needs writing for 4.7 release: themes features (writing themes, installing and updating themes, etc), plugins authoring and recommended layout. Not to mention the many current documentation pages that haven't fully been fixed from the old Wiki for the new docs site. Phew :/

It's an ongoing process though - I thin the themes documentation is the most urgent.

[2018-03-05 14:34] Bloke commented on #1180
Hey @NicolasGraph if you're at a loose end.... :-)

[2018-03-05 14:40] NicolasGraph commented on #1180
Soory, I often do easier things first… 😉

[2018-03-05 14:42] philwareham commented on #1180
I'll help where I can to whoever claims that task.

[2018-03-05 14:44] philwareham commented on #1098
Closing this. We are on it. Will release as soon as we can.

[2018-03-05 14:44] #1098 closed

[2018-03-05 14:45] NicolasGraph commented on #1180
I knew it was a trap.

Ok, I'll try my best to help with my frenglish.

[2018-03-05 14:47] philwareham commented on #1180
Great! As long as the bare bones and structure are there I can flesh it out over time. I'll proof read any doc writing anyway. Anything is better then what's currently there! https://docs.textpattern.io/themes/

[2018-03-05 15:09] petecooper opened #1181 "Release notes - typo in 4.6.0"
`zSELECTz` should be`SELECT`.

https://github.com/textpattern/textpattern/releases/tag/4.6.0

(I know it's old, but I just spotted it.)

[2018-03-05 15:19] bloatware commented on #1180
Don't wanna open a new issue, so posting here. Clicking inline anchor links to sections in plugin help do not seem to open the corresponding section, even with corrected anchors.

[2018-03-05 15:22] Bloke commented on #1180
Weird, it did for me the other night on the batch of plugins I tried. I wonder if something's changed in the meantime?

[2018-03-05 15:22] NicolasGraph commented on #1180
I think that it comes from the way jQuery tabs work. If you try to add an anchor link which is linked to any id but a section, it should work.

[2018-03-05 15:26] philwareham commented on #1181
Fixed, thanks.

[2018-03-05 15:26] #1181 closed

[2018-03-05 15:29] NicolasGraph commented on #1180
Sorry, I need to test once more but in fact I guess it works only if the anchor is linked to an id in the same tab.

[2018-03-05 15:29] bloatware commented on #1180
I'm testing it on `Restore points` tab of `ied_plugin_composer` help. Clicking on `...?event=plugin&step=plugin_help&name=ied_plugin_composer#ied_plugin_list` does not seem to open `List panel` tab. I have tried to change the anchor to `...?event=plugin&step=plugin_help&name=ied_plugin_composer#plugin_help_section_list_panel`, but still no luck.

[2018-03-05 15:39] NicolasGraph commented on #1180
Which plugin are you testing please? I fail to edit the _com_connect_ help with _ied_plugin_composer_.

[2018-03-05 15:40] bloatware commented on #1180
`ied_plugin_composer` itself :-)

[2018-03-05 15:41] NicolasGraph commented on #1180
oh, ok… I'm gonna try, thanks.

[2018-03-05 15:44] philwareham commented on #1180
These might help:

https://www.sitepoint.com/community/t/jquery-tabs-linking-to-anchors-within-a-closed-tab/11876

https://blog.edwardawebb.com/site-news/link-element-ids-jquery-tabs-read-stateless

[2018-03-05 17:19] bloatware commented on #1180
Quick'n'dirty fix landed, please feel free to improve.

[2018-03-05 17:28] NicolasGraph commented on #1180
Nothing better for now, Thanks @bloatware (https://github.com/textpattern/textpattern/commit/62929df599997d4d0a60277edf5b0d363c83b365).

[2018-03-06 03:20] phiw13 opened #1183 "Uncaught Exception while updating"
Status: logged out of site, lang `ar-dz` installed, `git pull` at [commit](https://github.com/textpattern/textpattern/commit/eb26dfb733d61a05641df4635ba47d22c52de73b):  Fix naked strings on first login after upgrade (previous update was ~14hours ago).

[code]

Added some line breaks in the stack trace for readability.
Guess I’ll go have a look  at the DB and remove the language pack there.

cc @Bl

[2018-03-06 03:23] phiw13 commented on #1183
Hmm, reloading the page actually let me in straight to the Lang panel (a truckload of `notice` name something… … …`). Delete the lang (ar-dz) and all was fine.

[2018-03-06 06:42] philwareham commented on #1183
I’ve changed `ar-`DZ language Textpack to `ar` now as it is not specifically Algerian any more. Maybe this needs some code in the upgrade scripts to convert existing users? @bloke can you confirm?

[2018-03-06 07:46] NicolasGraph commented on #1180
@bloatware, it seems that there is [no need to create an extra anchor](https://github.com/textpattern/textpattern/commit/e7903c890599f19e800aaeb4a220330f90aa42e0). Could you just tell me if there was a reason I missed to do that, otherwise I'll send a PR with another commit related to this feature. Thanks!

[2018-03-06 08:23] Bloke commented on #1183
I spotted a similar thing during my final testing last night (hence the commits) and will fix as soon as I can today. Also need some defensive code to check if a language file has been deleted but is still installed in the DB. That throws some errors on the Languages panel currently when it tries to find the language name from the missing file.

[2018-03-06 08:32] phiw13 commented on #1183
Ah, good, you are already aware of the issue. I still have one install that is _many_ commits behind (3 weeks worth of it I think). I can install `ar-dz` there as it still exists there, and then test your upcoming work.

That is probably what I saw once I got pass the the error and landed on Lang panel

[2018-03-06 10:43] Bloke commented on #1183
Right, 3c423e59 and 74c041a4 should make things a bit more robust in this department. As well as fixing the OP, if a file is now missing for an installed language, you will now see:

a. the name of the language as 'unknown' in the currently installed lingo.
b. the box in amber. It retains the check mark because it's installed and, as far as the system is concerned, up-to-date since there's no file

[2018-03-06 11:31] petecooper opened #1184 "Parsing HTML entities – inconsistencies between article elements"
_Not a beta showstopper._

Current `dev` build.

### Overview

Some HTML entities aren't handled very cleanly in public-side category titles across article elements, e.g. `title` and `category2`, and there's some inconsistency.

### Steps to reproduce

* vanilla `dev` install
* modify an existing category or create a new one to include an encoded HTML entity
* modify an existing article or create

[2018-03-06 11:31] petecooper commented on #1184
Note to self: this potentially extends beyond `category1` and `category2` – investigate other article elements.

[2018-03-06 12:03] Bloke commented on #1184
Yep, this needs attention, thank for highlighting it. Probably a rogue `txpspecialchars` or other encoding in the tag. If you do manage to sniff any more of this stuff out, that'd be appreciated.

[2018-03-06 12:06] phiw13 commented on #1183
So, on that's TXP 4.7.0 dev install, I made sure `ar-dz` was installed. For good measure, I toggled it on as admin language and back to `en-gb`. Logged out.
Updated all the files from latest Git and logged back in (landing on the articles panel, the default) and greeted with the “you’ve been updated…”.  Curse Safari for being stubborn in caching JS / CSS files.

Heading over to the Languages panel

[2018-03-06 12:15] Bloke commented on #1183
Awesome, thanks for testing. The primary culprit was the lack of conversion of `ar-dz` => `ar` in the `validLocale()` call. All the other stuff I did last night and this morning should help smooth upgrades for users of non-English as a primary language.

After logging out and upgrading, I've actually taken to doing force refresh on the login screen as it saves the notification after logging in. Th

[2018-03-06 12:15] #1183 closed

[2018-03-06 17:52] bloatware commented on #1180
Thanks @NicolasGraph, works great in my W7 FF58.

[2018-03-06 18:08] bloatware commented on #1184
That was already the case in [4.6](https://github.com/textpattern/textpattern/blob/ff45a15e4052eabc3b58b8f23d189455d7f5bdf1/textpattern/publish/taghandlers.php#L2910). My only concern re dropping `txpspecialchars()` here is bw compatibility. Shall we?

[2018-03-06 18:46] Bloke commented on #1184
If dropping `txpsepcialchars()` is just for visuals and introduces no security considerations, then I say the greater good is to make it look better and consistent.

Alternatively, can we harness `escape` in such a way that outputting it raw becomes an option? Backwards compat is retained but someone has the option to change that. I'm thinking of something along the lines of the same way that `esc

[2018-03-06 19:22] bloatware commented on #1184
Glad we think alike :-) There should be no more security hazard than with custom fields. Will do.

[2018-03-07 08:55] jools-r opened #1186 "Textpack strings for multisite setup gone astray"
The couple of extra language strings on the first stage of a multisite setup no longer show:

[code]

They should be in the language files in [/textpattern/setup/lang](https://github.com/textpattern/textpattern/tree/dev/textpattern/setup/lang). We had them previously ([here](https://github.com/textpattern/textpattern/commit/7fe89540ba5396e90d6155952a1c9b7cdeb40872#diff-506bc512cd899837311aac231220

[2018-03-07 08:58] Bloke commented on #1186
Ack, could you raise on issue on the Textpacks repo please, with the missing ones and their translations listed. I found out the other day that changes made in the core get overwritten, but if they're lodged as issues in the Textpacks repo, Phil folds them into CrowdIn. Ta.

[2018-03-07 09:00] philwareham commented on #1186
If they were committed to core instead of to the correct destination (Textpacks repo) then they would have been overwrote by subsequent repo syncs.

[2018-03-07 09:37] bloatware commented on #1184
Before I commit: is `category tag` a valid `rel` attribute value, or should we replace it with `tag`?

[2018-03-07 09:48] bloatware commented on #1184
I thought it was for [microformats](http://microformats.org/wiki/rel-category)?

[2018-03-07 09:56] bloatware commented on #1184
Actually, many other tags that had no `escape` attribute in 4.6 will act inconsistently in 4.7, but this can only be fixed on a tag-by-tag basis.

[2018-03-07 09:58] jools-r commented on #1186
Ah, thanks for the info. I hadn't noticed they were missing before and wasn't aware of the proper issue-posting protocol. I've raised the issue over there. Sorry about that!

[2018-03-07 10:00] philwareham commented on #1184
Most of the older `rel` attributes were never ratified for HTML5. A load of them have been 'proposed' for years now and never ratified so I'd take that as they'll never be. Probably rightly so, there were way too many values previously IMO.

[2018-03-07 10:28] #1186 closed

[2018-03-07 10:41] Bloke commented on #1184
My editor counts 80+ uses of `txpspecialchars()` in `taghandlers.php`. Granted, some of them are mandatory (anchor `title` attributes, for example) and some are used more than once in the same tag, but that's still a whole heap of tags that need to be checked.

Is it worth ploughing through them now and checking they work as expected when using `escape` or shall we mop this stuff up between beta a

[2018-03-07 10:44] petecooper commented on #1184
It's very much a post-beta task, in my opinion. The scope is potentially big, no need to wait for beta.

[2018-03-07 10:49] bloatware commented on #1184
They can't be both bw compatible and 100% consistent with the "standard" global atts behavior anyway, because they add some markup to data. If we have few days before beta, I can patch article related tags, but it's not critical.

[2018-03-07 11:00] Bloke commented on #1184
Nah, let's do it post-beta. People might find other tag-related stuff anyway so we can pick it all up together. Thanks for fixing the category tags, does it work for you now, Pete?

Let's leave this open to remind us to look at it over the next few weeks.

[2018-03-07 13:02] petecooper opened #1187 "Protection against button spamming?"
*Not a beta showstopper.*

Using current `dev` build. Possible edge case. I'm pushing at stuff that I perhaps shouldn't be pushing at.

As a result of the language packs now being stored in the filesystem, and database changes being made with the click or tap of a browser button, it's a lot easier to peg the CPU(s) on a server at 100%.

STR:

* open a server resources monitor of choice
* visit `/t

[2018-03-07 13:08] philwareham commented on #1187
That would be something for @bloke or @bloatware - it's not my area of knowledge, sorry. Probably some AJAXy thing would prevent the above?

[2018-03-07 13:09] petecooper commented on #1184
Just now, same test markup:

![screen shot 2018-03-07 at 13 06 58](https://user-images.githubusercontent.com/226578/37093801-8735e60c-2208-11e8-9325-07006fc370e6.png)

Fixed! Thanks very much @bloatware!

I think I've found another minor snag with the trailing `;`, but it's definitely a post-beta issue so I'll hold onto it for a few days to investigate and provide evidence.

[2018-03-07 13:29] petecooper commented on #1187
Add another asshole condition to the list, perhaps less mitigate-able:

* visit `/textpattern/index.php?event=lang as a Managing Editor or Publisher`
* click Install on any language pack, wait for the install to complete
* refresh browser constantly (Cmd-R)

Similar result (redline), but much less clicking/tapping involved, and the drop-off back to normal load was a bit quicker.

[2018-03-07 13:30] petecooper commented on #1187
PS: please delete if this is not for public consumption.

[2018-03-07 13:38] petecooper commented on #1098
Adding this before I forget – tell me if it's better elsewhere.

The admin-side themes are manually versioned (in `manifest.json`) and they have `-dev` suffixes right now, these probably need to be changed for beta release – I didn't see anything in https://github.com/textpattern/textpattern-toolbelt that covers that process.

[2018-03-07 13:41] Bloke commented on #1187
Actually, redirecting after install/update to clear the URL bar (or use `ps` instead of `gps`) was on my mental todo list one day.

[2018-03-07 13:42] Bloke commented on #1098
Step 3. But a typo shows up as "mainfest" instead of "manifest"

[2018-03-07 14:02] petecooper commented on #1098
…and that's the search term I used. Thanks for fixing!

[2018-03-07 14:09] philwareham commented on #1098
Will update theme manifests now, thanks

[2018-03-07 14:56] philwareham commented on #1098
I updated the manifests for the themes. I've also tagged beta pre-releases at each of their respective repos for history/posterity.

[2018-03-07 16:07] philwareham opened #1188 "Future locales"
The following locales *may* be added in a future release (storing here for reference):

[code]

[2018-03-07 17:24] bloatware commented on #1187
Both issues would be easier to fix if they were true submit buttons and not links, but I'm not sure how much work this change would take to restyle UX-wise. @philwareham?

[2018-03-07 18:20] Bloke commented on #1187
Yes. I think traditionally they were links simply because it uses GET. If we could use POST it would be better, but that would required a separate `<form>` for each language. I have no problem with doing that and converting things to being read via `ps()`.

Looking at the DOM  structure:
[code]

It should be reasonably simple to:

* Replace the surrounding `<ul>` with a div and retain the `txp-gri

[2018-03-07 19:19] philwareham commented on #1187
Can we get the beta out first please? I can certainly rework this UX for beta.2 - this is not a priority issue that should block a beta in my opinion.

[2018-03-07 19:57] bloatware commented on #1187
Couldn't we name the buttons, say, `step` and use their value to detect the step?

Sure, this can wait imo.

[2018-03-07 20:35] Bloke commented on #1187
Sure, if we have separate forms, then using the names as steps makes sense. Hadn't thought of that.

And yes, this is a post-beta task. Early, post beta so Pete's server isn't at risk :-)

[2018-03-07 21:43] philwareham commented on #1187
Yep, I can definitely look at the HTML/CSS structure of this by end of Friday. Just think beta is a priority right now. Thanks all.

[2018-03-07 23:15] phiw13 commented on #1187
@Bloke  [comment](https://github.com/textpattern/textpattern/issues/1187#issuecomment-371233332)

Using a `<ul>` has an advantage as that semantically what you present is a list of languages. Assistive technologies (screenreader) will then present the whole as such to the user.

--
On a side note, would it possible to ask to add a class to the `.txp-grid` element to specifically target this grid.

[2018-03-08 09:25] phiw13 commented on #1187
Sure can do, nothing prevents that. (the side bar on the pages panel uses that for the delete button)

[2018-03-08 09:25] Bloke commented on #1187
I'm down with that plan. Hadn't thought about plugins using the old step, good catch.

[2018-03-08 09:31] philwareham opened #1189 "Zip with symlinks - clarification"
Hi @petecooper and @jools-r - can you possibly test the Zip file download from here https://github.com/textpattern/textpattern/releases/tag/4.7.0-beta and let me know whether it has included the symlinks?

If yes, we can plan to just have a Zip download from the site in future which simplifies things. If not, can you let us know (and possibly provide instructions to get it working) as you are the

[2018-03-08 10:48] jools-r commented on #1189
The regular zip download doesn't include the `/sites` folder at all ;-)

But the source code (zip) does, and … the symlinks are included:

<img width="654" alt="bildschirmfoto 2018-03-08 um 11 43 40" src="https://user-images.githubusercontent.com/1203899/37147135-3044ecc6-22c6-11e8-8502-7f68a55d09ae.png">

(Screenshot from Transmit)

@Bloke: you can unzip and then check with @ls -la@ in the Termin

[2018-03-08 10:53] philwareham commented on #1189
Ah, maybe the build/release script currently takes multi-site stuff out of the Zip version (which it probably shouldn't now)?

[2018-03-08 10:58] Bloke commented on #1189
Yah nuts! Traditionally, the zip doesn't usually contain the `/sites` folder at all. I figured that with the `--symlinks` option in the [build script](https://github.com/textpattern/textpattern-toolbelt/blob/master/release/txp-gitdist.sh) it would just roll them in, but it doesn't seem to do so. The reason? `--exclude textpattern-$VER/sites/`

*Forehead smack*

[2018-03-08 11:00] philwareham commented on #1189
It's fine Stef - that's why we have beta releases. If we can get this honed down for beta 2 then we don't have to generate a Gzip version in future.

[2018-03-08 11:03] Bloke commented on #1189
The attached might be better. Please try that and report if the symlinks are true links. They look good to my untrained eye.

[textpattern-4.7.0-beta-zip.zip](https://github.com/textpattern/textpattern/files/1792883/textpattern-4.7.0-beta-zip.zip)

[2018-03-08 11:07] jools-r commented on #1189
Yup, that's fine.

[2018-03-08 11:10] philwareham commented on #1189
Yep, I can see the symlinks here in the new zip. Should we upload that to the GitHub tag release to replace the current Zip - it does not affect the tag and there is no codebase changes whatsoever so I can't see a reason not to. If so, please remember to generate a new SHA256 too!

[2018-03-08 11:18] Bloke commented on #1189
Here they are:

[textpattern-4.7.0-beta.zip](https://github.com/textpattern/textpattern/files/1792920/textpattern-4.7.0-beta.zip)

[textpattern-4.7.0-beta.zip.SHA256SUM.txt](https://github.com/textpattern/textpattern/files/1792922/textpattern-4.7.0-beta.zip.SHA256SUM.txt)

Note I had to add `.txt` to the end of the checksums file so GitHub would accept it.

[2018-03-08 11:27] philwareham commented on #1189
Cheers, have you updated the files on the Github tag already?

[2018-03-08 11:28] Bloke commented on #1189
Not updated those, no.

But I have just tweaked the [toolbelt readme](https://github.com/textpattern/textpattern-toolbelt/commit/86308924a7d064fcaf4f62f481687ff66e467c7d). I've assumed that you'll use category names without any indication of their type in parentheses. Please update that if you intend to use a different category naming scheme.

[2018-03-08 11:30] petecooper commented on #1189
It's one thing being able to see symlinks in the .zip, but do they extract and work on Windows systems? That's the legacy snag.

[2018-03-08 11:31] Bloke commented on #1189
True dat.

[2018-03-08 11:33] philwareham commented on #1189
I though @jools-r had built round that with the setup scripts - symlinks are created if they were missing?

[2018-03-08 11:38] petecooper commented on #1189
Recursive `diff` here shows zero differences between the extracted output of https://github.com/textpattern/textpattern/files/1792883/textpattern-4.7.0-beta-zip.zip and https://github.com/textpattern/textpattern/files/1792887/textpattern-4.7.0-beta-zip.tar.gz

[2018-03-08 11:39] jools-r commented on #1189
That would be interesting to know

It's in the pre-installer, yes, so it should catch situations where it doesn't work. But: that needs testing on windows to see if it really works as planned!

[2018-03-08 11:44] Bloke commented on #1189
Results:

* .zip unzips fine on Windoze (7). Symlinks, however, aren't created per se. The files exist, but you can't double click them (Win asks what you want to do with it). Opening one in vi shows the path it _should_ resolve to (e.g. `../../../textpattern/vendors`) as file content.
* .tar.gz doesn't unzip in 7-Zip on Windoze. The .gz is fine, but extracting the .tar results in a failure messag

[2018-03-08 11:57] petecooper commented on #1189
Confirming Windows 7 doesn't factor in symlinks when using TarTool to extract the .tar.gz:

![virtualbox_w7p base_08_03_2018_11_55_52](https://user-images.githubusercontent.com/226578/37149952-d1e1f528-22c7-11e8-90db-f7cf710625c4.png)

[2018-03-08 11:59] petecooper commented on #1189
How big a deal is this in the grand scheme? Windows users running multisite, I mean. I would expect an uptick in people using it since @jools-r's big rewrite of it, sure, but what magnitude is this issue?

Also, related, what's the ratio of .zip vs .tar.gz downloads, roughly? Is there a sane way to check?

[2018-03-08 12:05] philwareham commented on #1189
Yes I have download figures from the .com site. Gzip makes up 8.4% of downloads of v4.6.2 so we can safely ditch it I think for two reasons:

1. Pretty much any modern Unix system can handle .zip files natively
2. The Gzip clearly doesn't work well on Windows due to the symlink warning messages (in 7-Zip anyway)

[2018-03-08 12:05] Bloke commented on #1189
So even before we included symlinks in the zip, nobody could get symlinks on Windows, using either package. Right now:

* *nix users can use the .zip and extract the symlinks just fine.
* OSX users ditto.
* Windows users can use the .zip to extract them, but they'll not be true symlinks. But they never had them anyway, regardless so it's not a backwards-compatibility issue.

The only unknown now i

[2018-03-08 12:09] petecooper commented on #1189
and:

c) clearly document the steps required for users to recreate the symlinks as required, on UNIX-based servers (`ln -s`) and Windows-based servers (`mklink` under NTFS)

[2018-03-08 12:18] petecooper commented on #1189
Windows git (GUI) installed with symlink support does clone the symlink files, but doesn't make them into anything usable (i.e. they don't work):

![virtualbox_w7p base_08_03_2018_12_10_50](https://user-images.githubusercontent.com/226578/37150702-9a84d7e6-22ca-11e8-8389-7012829cf3dc.png)
![virtualbox_w7p base_08_03_2018_12_13_53](https://user-images.githubusercontent.com/226578/37150703-9aa379a8-

[2018-03-08 12:32] Bloke commented on #1189
Looks like a similar result to extracting the `.zip` package: files created (essentially) as dumb text files. Do they contain any content if you open them in a text editor?

[2018-03-08 12:48] petecooper commented on #1189
@Bloke

Yes, a relative path to its target:

![virtualbox_w7p base_08_03_2018_12_48_38](https://user-images.githubusercontent.com/226578/37151828-0b80ef4e-22cf-11e8-951c-10926c1da88d.png)

[2018-03-08 13:00] petecooper commented on #1189
It doesn't. Can't have two files called the same thing, so no dice.

[2018-03-08 13:03] jools-r commented on #1189
The preinstaller tries to ascertain whether the vendors symlink resolves correctly [here](https://github.com/textpattern/textpattern/blob/dev/sites/site1/admin/setup/index.php#L32):

[code]

Presumably that fails if the file is there but not an actual symlink? (but: can you check that to be sure?)

The preinstaller does this too [here](https://github.com/textpattern/textpattern/blob/dev/sites/site

[2018-03-08 13:32] petecooper opened #1190 "Rendering of HTML entities without trailing semicolons"
(4.7.0-beta)

### Expected behaviour

Consistent handling of HTML entities across the admin-side.

### Actual behaviour

Inconsistent handling of HTML entities across the admin-side. Category titles appear to be more liberal in the way they handle entities without the trailing semicolon.

### Steps to reproduce

* visit `/textpattern/index.php?event=category`
* create or modify an article category

[2018-03-08 17:10] bloatware commented on #1190
Title is not encoded in the same fashion that other fields, because it's historically used in XML (RSS and Atom) feeds. HTML is permissive and accepts unterminated entities, but XML does not. So, `&#10004` will be saved as is in Category fields, but transformed into `&amp;#10004` in Title. We can not change it for Title (would break RSS), and changing it for other fields is not bw compatible. So i

[2018-03-08 17:44] jools-r commented on #1189
Am I right in assuming I could test this by installing [WAMP](http://ampps.com/wamp) or [XAMPP](https://www.apachefriends.org/index.html) on a Windows VM? As long as it's not **L**AMP, it should be running on a windows server, right?

I've started downloading a VM from the [MS Edge](https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/) site but a) I'm not sure if the VM prevents you ins

[2018-03-08 18:03] petecooper commented on #1190
Thanks @bloatware – excellent explanation.

[2018-03-08 18:03] #1190 closed

[2018-03-08 18:04] petecooper commented on #1189
I've got a full set of Windows Server installers. Let me know what I can do.

[2018-03-08 20:51] jools-r commented on #1189
Can you try a multisite install on windows and report back whether the pre-installer correctly (re)creates the symlinks that are broken and then proceeds with the installation?

(@petecooper: weirdly I gut your message per mail but don't see it in this thread on GitHub.)

[2018-03-08 21:11] petecooper commented on #1189
@jools-r - sure thing. I've never installed a WAMP server before, so I'll learn by doing! It might take a while for me to get my head around it, but bear with me.

Do you want a copy of the installer ISO (30 day eval) to prod and poke?

[2018-03-08 21:21] bloatware commented on #1190
Could someone explain me why the replacements in [textileEncode()](https://github.com/textpattern/textpattern/blob/16d7358d30cd587a0c73ab92d8ad7bfd2e55c242/textpattern/vendors/Netcarver/Textile/Parser.php#L1521) function are so complicated? As a side effect, you are out of luck if your Title contains `x%x%` - it is transformed into `&amp;`.

[2018-03-08 21:23] jools-r commented on #1189
I would simply have tried WAMP/XAMPP or MAMP for windows (the VM download was still in progress when I left the office). But – excuse the naive question – is a WAMP/AMP stack on Windows the same thing as a Windows IIS server that a user might have with a webhost?

Another idea: I know some web hosts allow you to trial a webserver for x days before committing. Perhaps there are web hosts that offer

[2018-03-08 21:39] jools-r commented on #1189
:-) exactly my thoughts!

[2018-03-08 21:49] petecooper commented on #1189
Call to action posted: https://forum.textpattern.io/viewtopic.php?id=48506

[2018-03-08 22:28] petecooper commented on #1189
This issue has strayed from the OP – symlinks in archives _don't_ work on Windows, whatever the format of the archive, and I'm setting up a Windows 2016 test rig to ensure the multisite stuff works as intended with symlink creation.

With that in mind, my vote would be to close this issue since we've established there's no reliable way to have cross-platform symlinks, and if they're created correc

[2018-03-09 00:22] Bloke commented on #1190
Nope. Does a git blame/history give any insight in any commit messages that reference those lines?

[2018-03-09 08:51] bloatware commented on #1190
No idea, probably a commit by myself. Anyway, why not just
[code]
The purpose is to encode XML-invalid `&` occurrences, but keep the valid entities like `&gt;` intact. We can not use `htmlspecialchars` here since it would also encode `<,>` etc.

[2018-03-09 10:12] Bloke commented on #1190
Seems reasonable to me. Do you have write access to [Textile](https://github.com/textile/php-textile)? If not, maybe a PR will do the job if Steve's still watching.

[2018-03-09 10:22] philwareham commented on #1187
So, do you want the `<form>` tags to just wrap the buttons `<p>` tag on each cell, or to be first child of the `<li>` on each cell? Doesn't really matter either way (they are both valid) but let me know your preference.

[2018-03-09 10:29] Bloke commented on #1187
I'm not fussed. Whatever makes most sense and is the leanest we can get away with. We need to post:

* language code
* event
* step (action)
* token

for each button of the 50-odd forms on that page... argh!

[2018-03-09 10:36] bloatware commented on #1187
Each form could contain just the language code, the rest can be sent via form URL (`event, token`) or appended with JS (`step`).

[2018-03-09 10:43] Bloke commented on #1187
Cool. As long as the result is POSTed so it can't be resubmitted/browser refreshed quickly, do whatever needs to be done in the smallest amount of markup!

[2018-03-09 10:54] bloatware commented on #1187
Oh, if a Publisher decides to redline his server, there is always a way. Are you already working on the markup or I try?

[2018-03-09 11:07] Bloke commented on #1187
:-) I won't have tome today, sorrry. Go for it.

[2018-03-09 11:14] philwareham commented on #1187
I made a start of the markup - but I can't duo any more Textpattern stuff today. It'll have to wait until Monday.

[2018-03-09 11:17] bloatware commented on #1187
I'm fine with waiting until Monday, no worries.

[2018-03-10 12:52] cara-tm opened #1191 "Hyphen and duplicate article URLs"
For the v4.7 final release.

Please, change hyphen followed by article ID for all duplicate articles by an underscore instead. (e.g. http://mydomain.tdl/my-article_10)

Imagine you have an article url title with a date as suffix (e.g. `03-10-2018-10`). Search engines could missunderstood the last numbers into this kind of URL. Furthermore, adding an underscore before the `#ID`, Google can identifi

[2018-03-11 16:41] Bloke commented on #1191
This would probably introduce backwards incompatibility. Doesn't the metadata in the article itself give search engines the info they need? More than just the url would provide at least. That would help them make sense of the url.

[2018-03-12 00:26] giopad opened #1192 "When using child categories articles in parent and child categories aren't displayed on a section"
### Expected behaviour

When I create a new child category in a section I would list articles in that category in that section or just that category.

### Actual behaviour

Articles in categories in sections are not listed with tag <txp:article> in a new installation (or demo) "default" page just echoes category name not the list of articles.

### Steps to reproduce

Create new category and new ch

[2018-03-12 07:44] bloatware commented on #1192
If I understand the problem right, you should check first

- whether `frontpage` option of the corresponding section is enabled,
- or call `<txp:article frontpage="" />` to disable filtering.

Hope that helps.

[2018-03-13 08:49] philwareham commented on #1187
OK, I've created a ew HTML structure where each language cell has it's own `<form>`. Please see http://design-patterns.textpattern.io/mockups/admin-languages.html

The cell is made up like so:

[code]

And the buttons can be a mixture of:

[code]

[2018-03-13 09:49] philwareham opened #1193 "Escape field in File tag builder incorrect"
### Expected behaviour

On the files panel, tags column of the files list - elect to build a tag using the tag builder. The escape field should be a drop-down list where you can select 'HTML' (as you can on the Image tag builder).

### Actual behaviour

The current escape field is a text field not a drop-down.

Also (maybe applies to a few tag builder items) - don't we allow more escape options no

[2018-03-13 11:03] Bloke commented on #1193
I'm sure it used to have this option, dunno why it changed.

Yes, hence the reason the 'global' escape values aren't dropdowns but freeform text fields. You can escape anything you like now - HTML tags included - so we can't possibly cover all the options in a dropdown. We could (should?) remove the dedicated dropdown selectors for `escape` in all tags, bar the ones accessed from the Images and Fi

[2018-03-13 11:22] bloatware commented on #1193
I guess the file download tag had no its own `escape` attribute in 4.6, unlike the images, so now it accepts the global one. But I don't see how to make local and global `escape` values uniform across all tags atm. In some tags, `escape` is used only to encode a HTML attribute (like `title`) value, so anything other than `html` is irrelevant.

We hardly could replace the text field by a dropdown f

[2018-03-13 11:25] bloatware commented on #1187
Nice! I won't have much time today, so any taker please don't hesitate.

[2018-03-13 13:41] Bloke commented on #1193
Best bet is probably just to leave the global escape as a freeform field for most cases. Don't think we can cater to all use cases, nor should we limit people's options.

For any tags where the only realistic option is `html`, we can add a specific `escape` attribute to that tag and provide options. All the rest automatically get the global 'freeform' escape parameter.

[2018-03-13 13:56] bloatware commented on #1193
AFAIR all global attributes have already been added save for tags that had them before and won't process the globals anyway.

We can add `list` attribute filled with "standard" global values to the global `escape` text input.

[2018-03-13 14:20] Bloke commented on #1193
That'd be cool, thanks. No hurry, whenever you get a moment.

[2018-03-13 15:28] bloatware commented on #1193
Heck, `datalist` is not supported by Safari. Do it anyway?

[2018-03-13 15:33] philwareham commented on #1193
Can we not use a `<select>` here?

[2018-03-13 15:43] bloatware commented on #1193
No, also because global `escape` accepts comma-separated lists of transforms (e.g. `tidy, textile, html`), so we can not envisage to output all possible combinations (same for datalists). Moreover, their order matters, so neither multiselect nor checkboxes would help. There is nothing we can do here, I'm afraid.

[2018-03-13 15:48] philwareham commented on #1193
I guess `datalist` would be OK. Or... do we even need to give escape options on the tag builder? It's a fairly advanced feature anyway so one would assume people who know the tags and how to use escape would be able to manually enter that attribute and values. Dunno.

[2018-03-13 16:09] Bloke commented on #1193
`datalist` would be great, but it doesn't support multiple values (afaik) so you can only autocomplete the first item in a list. Still a handy feature to show people the sort of things available, though, even if it's not exhaustive.

[2018-03-14 05:58] phiw13 commented on #1187
oh… so you’ve set an additional class on the cell. I was thinking setting an additional class at the container level ( `.txp-grid`). Useful if you use CSS grid layout to layout the thing (I do).

[2018-03-14 06:18] giopad commented on #1192
Many thanks. Solved. I did not understand that option.

[2018-03-14 06:18] #1192 closed

[2018-03-14 10:05] bloatware commented on #1193
Finally, I have removed them all: even `wraptag` has nothing to do with, say, Textile/HTML file download links.

[2018-03-14 10:16] bloatware commented on #1187
@Bloke it would be great if you showed us how to use our new form widgets here :-)

[2018-03-14 10:20] Bloke commented on #1187
@bloatware It would be great if they were finished. A few more to add yet. Be my guest :-)

See the [widgets issue](https://github.com/textpattern/textpattern/issues/968) for some inline examples. A few of the early ones may need a tweak as things have evolved, but the later examples should give you an idea of where it's kinda going.

[2018-03-14 10:21] philwareham commented on #1193
Fine by me. How about the non-global escape attribute used on some tags (see https://github.com/textpattern/textpattern/blob/b09fc42ba42e5f5be9201794c79492eb0fcbadae/textpattern/include/txp_tag.php#L858) - do we leave that as-is, add to it or remove escape attributes entirely in the Tag builder?

[2018-03-14 10:29] philwareham commented on #1187
@phiw13 just added `.txp-grid-lang` as requested. Out of curiosity, how are you polyfilling CSS Grid for our supported browsers (Safari 10 and IE11 to name two)? The reason I'm not using CSS Grid right now is because I don't really want to polyfill those browser with Flexbox just to use CSS Grid.

[2018-03-14 10:31] philwareham commented on #1187
Aside: we can probably drop IE 11 at Textpattern 4.8 and Safari 10 usage will have shrunk below my minimum usage level (0.5%) by then too.

[2018-03-14 10:35] bloatware commented on #1193
It looks like all tags save `<txp:text />` (which is not in the tagbuilder anyway) have adopted the global `escape` behaviour. So we can switch to `datalist`, but in Safari this would be just a text input, without hints. A placeholder with possible values, perhaps?

[2018-03-14 10:42] philwareham commented on #1193
Can;t we just remove escape entirely from the tag builder? Get rid of `tbEscapePop` wherever it's used? Datalist isn't going to suffice, I feel, neither is a placeholder.

[2018-03-14 11:47] phiw13 commented on #1187
TY.

Flexbox as fallback path - Mostly for IE 11. It is not much code.

I don’t think you need to worry much about Safari 10. Safari 10.1 supports CSS grid and has the same support matrix as S10 (macOS 10.10+); that leaves Safari 9, but there shouldn’t many of those left, me thinks.

[2018-03-14 15:41] #1188 closed

[2018-03-14 22:40] bloatware commented on #1193
Well, I'd leave local `escape` there, to keep the track. There still is a difference between local and global attributes: one can permute the former without altering the output, but not the latter, executed from left to right. Should we fix an order? I feel that the natural one is `escape`, `wraptag`, `label`, but a free order is more flexible.

[2018-03-15 06:20] phiw13 opened #1194 "Incorrect HTML structure / markup on the Themes panel"
The multi-edit widget (`div.multi-edit`) is part of the `div.txp-navigation` (inside). It should precede it as on any other list panel, and inside the `.multi_edit_form` form. The `div.txp-navigation` should follow the `form`.

Themes panel:

[code]

Sections panel:

[code]

2 screenshots:
https://dev.l-c-n.com/_junk/Sections.png
https://dev.l-c-n.com/_junk/Themes.png

[2018-03-15 08:43] NicolasGraph commented on #1194
Thanks for the report @phiw13.

[2018-03-15 09:19] philwareham commented on #1194
This should fee fixed now - let us know. Cheers all.

[2018-03-15 09:23] phiw13 commented on #1194
Yup, looks much better. Thanks @NicolasGraph .

[2018-03-15 09:23] #1194 closed

[2018-03-15 10:58] philwareham commented on #1193
Fix an order if we can - consistency is always good in m opinion. Cheers!

[2018-03-15 11:25] bloatware commented on #1193
Between consistency and flexibility *mon coeur balance*. I often need to output HTML code examples like "this is what `<txp:variable name="sample" wraptag="b" />` does":
[code]
Currently we can do it with `<txp:variable name="sample" wraptag="p" escape="html" />`, but if we fix the order above (resulting in `<txp:variable name="sample" escape="html" wraptag="p" />`), this will output **The sample

[2018-03-15 11:32] philwareham commented on #1193
OK, whatever you think is best. I'm no expert on escaping.

[2018-03-15 16:57] bloatware commented on #1193
No clever idea, sorry. I have just changed the text of the empty option to `gTxt('custom')`, as a hint.

[2018-03-16 00:46] Bloke commented on #1187
Should be sorted now, please test and reopen if I've missed something. I think the jQuery is as succinct and efficient as I can make it, but improvements welcome if there's a better way.

[2018-03-16 01:08] phiw13 commented on #1187
I don’t want to disappoint you but it _only_ seems to work with Firefox (59).

With Safari and Chromium (Opera beta):
* Click on either “install” or “Remove” buttons
* Button appears greyed out
* Nothing happens: Language not installed / not removed.

(I don’t see anything in the error console)

[2018-03-16 10:03] Bloke commented on #1187
Must admit I only tested it in Firefox. More research required... thanks for the notification.

[2018-03-16 10:04] #1187 closed

[2018-03-16 10:33] bloatware commented on #1193
Argh, `gTxt('custom')` translates as "Custom field", and I don't find anything like `other` string. Do we add one?

[2018-03-16 10:37] philwareham commented on #1193
I'd prefer that gTxt was removed form the escape down drop list entirely and left as a blank. It shouldn't be a selectable value IMO.

[2018-03-16 10:44] bloatware commented on #1193
Some tags have `escape="html"` by default, so one might need to set `escape=""`. And gTxt string is only a visual hint, the value behind it is empty. I don't find any better, sorry, please do what you prefer.

[2018-03-16 11:00] Bloke commented on #1193
For dropdowns, let's just leave a blank entry at the top like we did. That'll insert `escape=""` as a convenience (right?) and if someone wants to customize it in the textarea, that's fine.

[2018-03-16 11:11] Bloke commented on #1189
So I think we've established:

1. *nix/OSX users can use the `.zip` just fine and extract the symlinks as intended, the same as they used to do with the `.tar.gz` only.
2. Windows users can extract the `.zip` contents as before. The symlinks are broken, resulting in text files with the symlink destination embedded.
3. Thus there's no need for the `.tar.gz` file to be distributed any more.

The onl

[2018-03-16 11:16] philwareham commented on #1189
I think option b would be my preferred option. The zip still allows you to create missing symlinks on install doesn't it?

[2018-03-16 11:18] bloatware commented on #1193
That's how it still works, but the blank entry is (wrongly) labelled "Custom field" (i.e. `gTxt('custom')`), which I suggest to replace with "Custom value" or other appropriate text. Just to remind that other `escape` values are available now.

[2018-03-16 11:51] phiw13 commented on #1187
Yes, now works fine (tested Safari only) and very fast!

[2018-03-16 12:02] Bloke commented on #1189
Yep, the pre-installer takes care of trying to create symlinks and if it can't it'll prompt you (in theory - would love to prove it all works on Windows!)

[2018-03-16 12:03] philwareham commented on #1189
OK, let's continue to provide a zip (with no symlinks) and a Gzip (with symlinks).

[2018-03-16 12:03] #1189 closed

[2018-03-16 12:04] philwareham commented on #1189
Closing - cheers all!

[2018-03-16 12:11] Bloke commented on #1193
Hmmm, I see what you mean. But we also, legitimately, offer `escape=""` as a way to remove the forced `html` in some cases. Could we use `escape="none"`? That doesn't conflict with anything in the global attribute code does it? If it doesn't understand a value it'll just fall back to 'raw'... right? `none` exists as a core string in '[common]' so that label could be used here.

In other words:
[co

[2018-03-16 12:14] philwareham commented on #1193
I'm OK with it saying 'None' (for `value=""`). I'm not keen on also have a blank as well. It's not like you can do anything custom with that as it's a select field.

[2018-03-16 12:24] petecooper commented on #1189
@Bloke in https://github.com/textpattern/textpattern/issues/1189#issuecomment-373693096

Working on it, haven't forgotten – had a very full week and I'm a bit behind schedule, but I've started the server build. Virtualbox is a bit…crash-y for me, for some reason, but the base OS (Windows 2012 R2) is set up:

![virtualbox_w2012 base_16_03_2018_12_23_05](https://user-images.githubusercontent.com/226

[2018-03-16 12:24] Bloke commented on #1193
True. But if you build the tag with the 'empty' entry, you at least get `escape=""` rendered in the tag, which would allow you to enter your own values into it by hand.

If you chose "None" and it rendered `escape=""` in the tag, it has the desired effect, but would you think to look any further?

This is a tricky one. But the tag builder's only a minor part of the overall CMS so if we have to lea

[2018-03-16 12:40] bloatware commented on #1193
We'd better not, who knows what `none` could mean in the future. Let's leave it as is, and revise it the day some `other` string is available.

[2018-03-16 12:48] philwareham commented on #1193
Agreed. Closing.

[2018-03-16 12:48] #1193 closed

[2018-03-16 15:36] HashandSalt opened #1196 "Theme enhancement (native oui_flat like support)"
I am requesting and putting up for discussion the idea that the new theme support could be greatly enhanced if it was possible to edit the flat files on the file system and have them updated on a browser reload rather than having to manually force a them update or a use a webhook to update the theme code. This approach is much faster during development.

[2018-03-16 16:06] NicolasGraph commented on #1196
I feel like it is a plug-in area but I don't really know. Anyway I don't think would be able to do it for this release. 4.8?

[2018-03-16 16:09] jools-r commented on #1189
FWIW: I tried with XAMPP using a modernIE VM but it fails due to a lack of administrator rights. So inconclusive up to now.

[2018-03-16 16:10] bloatware commented on #1196
It shouldn't be too difficult to fetch themes directly from flat files, but it will have some time to test. Not in beta-2 anyway.

[2018-03-16 17:53] Bloke commented on #1189
Reinstated `.tar.gz` output in the textpattern-toolbelt.

[2018-03-16 20:52] vanmelick commented on #1189
On 08/03/18 13:05, Phil Wareham wrote:

Of course .tar.gz has lesser downloads... because the download link on
the homepage links only to the .zip file and you have to actively search
for the page where you can download the tar.gz file.
Look at how Wordpress does it, their download button on the homepage
links to the /download page where both formats are available (as they
should be!).
Personally,

[2018-03-16 21:41] philwareham commented on #1189
I can easily change the homepage button to go to the download page instead. I will do that when we launch 4.7 proper I think.

[2018-03-17 01:57] phiw13 opened #1197 "Files and Images panel - need some space between category select and buttons"
In the upload widget, the `reset` button is flush against the category select widget (see screenshot below).

There used to be a white-space node separating the two in the source code. That has apparently disappeared with this [commit](https://github.com/textpattern/textpattern/commit/a611868901746b638be9d6e00487ad69761fc1b0) (in `txplib_html.php`).

Options:
* add some margin in the stylesheet
*

[2018-03-18 15:04] bloatware commented on #1196
Something to [test](https://forum.textpattern.io/viewtopic.php?id=48528).

[2018-03-18 16:08] HashandSalt commented on #1196
Ok, Some preliminary notes:

* Works great if you are logged in and viewing the local domain directly and you manually refresh the browser
* Does not work with Browserync via proxy, because it does not trigger a full page refresh when the theme files are changed. Reading the browsersync docs, it suggests it should do a full refresh if the file change is not a CSS or Javascript file.
* Reloading th

[2018-03-19 09:50] bloatware commented on #1191
I actually think that the "duplicate" action shouldn't automatically save the clone, leaving to the user the possibility to first change the title etc, then save the article manually.

[2018-03-19 10:07] Bloke commented on #1191
I kind of agree. That would be inconsistent with other Duplicate actions around the patch (templates, primarily). Is that an issue?

As for mass duplication of articles... dunno. Maybe there's an argument for removing it from multi-edit? Not sure of use cases, we'd maybe need to ask if anyone's used it.

[2018-03-19 10:13] bloatware commented on #1191
We could call it "Copy" rather than "Duplicate" on the Write tab? And leave "Duplicate" (with save) in the widget, in case someone needs it.

[2018-03-19 10:22] Bloke commented on #1191
"Copy" works for me.

So what do you envisage would happen when you click copy?

1. Clear the internal ID.
2. Blank out the article_url.
3. Alter the title somehow to indicate it's a copy (maybe).
4. Indicate somehow (amber flash message?) that it's been copied but not saved yet.

Does this impact plugins / callbacks at all? We'd be going from "has an ID" to "doesn't have an ID" client side, right

[2018-03-19 10:26] bloatware commented on #1191
That would be `event=edit&step=copy&ID=123`, so article save/publish callbacks are not concerned. Well, we'll find something bw compatible, the question is mainly UX.

[2018-03-19 10:29] Bloke commented on #1191
Cool. Give it a go, see what happens. We've got a 'Copy' string in `[common]` so all's good there.

[2018-03-19 10:30] Bloke commented on #1191
You're intending to pass on the _current_ content in the fields to the clone, right? Not the last-saved' content read from the DB?

[2018-03-19 11:03] bloatware commented on #1191
Good question. I presume, if you have edited and not yet saved an article before copy, you are going to duplicate it? Then our present functionality is right. Hmm...

Actually, the clone is saved as draft, so changing Title (which the author will probably do) changes `url_title` too. Just replace "My Title (5)" with "My Title_5"..? Dunno

[2018-03-19 11:14] Bloke commented on #1191
I think that's why we went with duplicate in the first instance. The logic is:

* If you leave the unique identifier (name, title) the same as it was before clicking Duplicate, append `_copy` (for assets) or the new ID (for articles).
* If you have already changed the unique identifier (name, title) then the Duplicate process uses that name if it can. If not (because it already exists), it appends

[2018-03-19 12:22] bloatware commented on #1191
URL title is changed on Title change in Draft mode for me. So there should be no problem with `url_title` in a normal workflow. The only thing I would change is create cloned articles `url_title` with `stripSpace()` function, to let plugins transform it as they like via `sanitize_for_url` callback. Currently we just append `-ID` to the parent `url_title`.

[2018-03-19 12:36] Bloke commented on #1191
Ah, you're right. But not, it seems, after cloning. Once it has the ID in it, changes to the Title don't seem to be reflected in the URL title. Even if (it appears) I manually edit out the ID. Bug, or by design?

We could try using `stripSpace()` for sure. The only reason for the enforced ID was to bypass the "duplicate article" warning and for atomicity in multi-user environments.

[2018-03-19 12:58] bloatware commented on #1191
Weird, cloned articles `url_title` still reflect Title changes for me, as long as it has not been modified manually.

We'd pass through `stripSpace()` the *ID-enforced* `Title (ID)`. By default, it would be converted to `title-ID` as presently, but a plugin could convert it into `title_ID` if preferred.

[2018-03-19 13:01] Bloke commented on #1191
Cool. Must be because I'd altered it by hand. That makes sense actually.

[2018-03-19 15:16] petecooper commented on #1197
Minor addition to this issue, I don't think it's worth opening a new one: the spacing around the `Replace file` components is a bit snug on desktop, but A-OK on mobile.

**Mobile**
![safariscreensnapz016](https://user-images.githubusercontent.com/226578/37604219-6393566a-2b88-11e8-81d9-f82d40f8301f.png)

**Desktop**
![safariscreensnapz017](https://user-images.githubusercontent.com/226578/37604228-

[2018-03-19 17:32] petecooper opened #1198 "Spacing of elements in Files -> File -> Replace file"
STR:

* size browser to desktop dimensions (i.e. larger than mobile breakpoint)
* visit `/textpattern/index.php?event=file`
* upload a file if none exist
* view/edit the file details
* note the top spacing on the `Replace file` buttons and file selector

![safariscreensnapz017](https://user-images.githubusercontent.com/226578/37611713-0422290a-2b9b-11e8-8343-f0021a5e80d1.png)

Possible solution: a

[2018-03-19 22:10] phiw13 commented on #1197
@philwareham - your commit fixes the issue perfectly (and TY for removing the non-breaking space after the `input type="file"` !!)

Create a Images category or a Files category.
You can then assign that the category during the upload process.

[2018-03-20 02:48] phiw13 commented on #1197
The images panel suffers form the same issue, that is not yet done (?).

[2018-03-20 09:25] #1197 closed

[2018-03-20 09:25] philwareham commented on #1197
OK, done for images panel too now.

[2018-03-20 09:54] philwareham opened #1199 "Theme 'override' - rethink wordage"
The following option 'Override' in the new themes panel is too obtuse and confusing to end users (me included):

![grab1](https://user-images.githubusercontent.com/413665/37647592-8580e872-2c24-11e8-88aa-4498ed17cf3a.png)

It would be clearer if the wording was as follows I think:

![grab2](https://user-images.githubusercontent.com/413665/37647613-93f145a0-2c24-11e8-822e-831c3c32091f.png)

Any obj

[2018-03-20 09:59] Bloke commented on #1199
Fine by me.

[2018-03-20 12:31] ziselive commented on #1199
Why doesn't my theme management page import theme options?

[2018-03-20 12:33] NicolasGraph commented on #1199
@ziselive, I guess you don't have any new uploaded theme in your themes directory.

[2018-03-20 12:34] NicolasGraph commented on #1199
It's ok for me too @philwareham.

[2018-03-20 12:44] Bloke commented on #1199
@ziselive What theme options are you referring to? Prefs? Information stored in the manifest? Themes don't natively import prefs right now.

@NicolasGraph We could leave the string key as `override` for now, coudn't we? And just change the string representations in languages (plus pophelps)?

[2018-03-20 13:02] philwareham commented on #1199
@Bloke it's same amount of upheaval even if we keep `override` string. Personally I'd say keep `override` and move it to the `common` group and also add `synchronize` in `common` too. They seem fairly generic and useful words to have available.

[2018-03-20 13:02] bloatware commented on #1199
Even in English `resynchronize` sounds weird for me (the spell checker confirms), and in Russian it would be abracadabresque. It is also bidirectional: synchronize in which sense? Couldn't we find something better to say "reload from disk"?

[2018-03-20 13:04] philwareham commented on #1199
@bloatware I believe the sync **is** bidirectional - if unused items are in database and not flat files, remove those / if unused items are in flat files and not database, remove those.

[2018-03-20 13:06] ziselive commented on #1199
@NicolasGraph you're right.  @Bloke ，I don't have any new uploaded theme in  themes directory. Put in a new theme and display it.

[2018-03-20 13:08] Bloke commented on #1199
If you choose this option (what essentially amounts to a "reimport" or "update" of what's in the DB) then the deletion is one way. In other words:

* If you're importing from disk and the checkbox is on, the _database_ templates are deleted and loaded from disk.
* If you're exporting from the DB and the checkbox is on, the _disk_ templates are deleted and recreated from the database contents.

[2018-03-20 13:29] NicolasGraph commented on #1199
In fact, deletion is the last thing that is processed. On import for example, it inserts/updates valid template files and then delete templates in the DB that do not have a related valid files.

[2018-03-20 13:38] Bloke commented on #1199
@NicolasGraph Thanks for the clarification. That's actually a more efficient process (yay). The outcome is the same.

Partly, this issue stems from a desire to try to reuse a single checkbox for all eventualities: import, export and delete. Maybe the fact we're going round in circles is because there is no simple way to cover all bases and we need to consider a separate string for at least one of

[2018-03-20 13:44] NicolasGraph commented on #1199
Sorry but… Are we talking about changing the 'override' option to something else (like 'Resynchronize' as proposed by @philwareham), or about changing the checkbox label? Both?

[2018-03-20 13:46] Bloke commented on #1199
One or both. There's probably a combination of words out there that succinctly describes what the multi-edit option + checkbox does.

But if there isn't, we may have to consider different strings.

[2018-03-20 13:48] philwareham commented on #1199
Both I think.

Well this discussion proves that 'Override' isn't the correct term. If this is effectively just an 'Import to database' function then why not have these two specific wordings?...

- Import to database
- Export to files

And then two different secondary actions maybe:

- Delete unused database templates on import
- Delete unused file templates on export

If the 'Delete' option shares

[2018-03-20 13:51] Bloke commented on #1199
Taking a step back, are we happy with the notion of import / export? Or can we sidestep the issue by being more verbose in the multi edit option? e.g.

* Load from disk
* Duplicate
* Store on disk
* Delete

Something like that? If so, it'd be nice to _not_ use the term 'disk' twice so the list is more quickly scannable and you know you're picking the right option without reading the verb. But I ca

[2018-03-20 13:55] Bloke commented on #1199
Iterating on what Phil said, can we just get away with:

* Import to database: 'Delete unused templates?' option.
* Duplicate
* Export to files: 'Delete unused templates?' option.
* Delete: can we use 'Delete unused templates?' option here? Or does this need a dedicated string as Phil suggests?

Save a string, save the world.

[2018-03-20 13:58] philwareham commented on #1199
Another option:

- Import from disk
- Export to disk

And keep the suggested secondary wordings I gave. I think they need to be absolutely 100% clear as to what they are going to do if you check them. Same for 'Delete' bit maybe 'Delete theme templates from disk too' (since it won't actually delete the theme if other files are in it other than template files).

[2018-03-20 14:01] NicolasGraph commented on #1199
If we go with your strings @Phil, we could even restore the 'update' word @Bloke introduced previously. 'Update from disk' seems quite obvious isn't it?

[2018-03-20 14:01] phiw13 commented on #1199
The action is not really “Import” - the theme already exists in the DB. “Update” sounds more appropriate.

[2018-03-20 14:05] philwareham commented on #1199
OK, we are getting close to agreement!...

- Update from disk
- Export to disk
- Delete

Secondary actions for each of the above...

- Delete unused database templates on import
- Delete unused disk templates on export
- Delete theme templates from disk too

How's that?

[2018-03-20 14:12] Bloke commented on #1199
That's all good too. My only (very very minor) beef with using the word 'disk' twice is that you have to read everything to find the option you want. The words 'import' and 'export' have an implied notion - almost geekiness - that people already understand what the hell themes are all about.

Sure, _we_ know that the database is the centre of the universe when it comes to delivering themes to the

[2018-03-20 14:21] philwareham commented on #1199
OK, let's go with that. Can someone please code the following strings into the skins panel and I'll then reconfigure Crowdin for that same:

[code]

I'll probably make `update_from_disk` and `export_to_disk` common strings, as they may be useful in future for other things. And I'll rename `import_skin` to `import_from_disk` and make that a common string too. That covers all bases.

[2018-03-20 14:22] NicolasGraph commented on #1199
@Phil, I'm going to do it.

[2018-03-20 14:23] philwareham commented on #1199
😀

[2018-03-20 14:25] Bloke commented on #1199
I'll add the pophelp topics for the three actions.

[2018-03-20 14:28] NicolasGraph commented on #1199
Do we keep `skin_synchronize` as pref. name?

[2018-03-20 14:30] Bloke commented on #1199
No harm in that. Depends if we're going to be remembering the settings independently or not, or treating them as three dedicated checkboxes now.

[2018-03-20 14:33] NicolasGraph commented on #1199
Yes, that what I was thinking. As there are three different labels now, users could be confused if it is stored in the same place.

[2018-03-20 15:02] Bloke commented on #1199
So we're going for three independent prefs? If you check the `export_to_disk` option and commit the action, it will have no effect on the `import_from_disk` checkbox?

Or do we assume that if you've indicated you're doing some disk action that you want to always perform disk actions regardless of the multi-edit option selected?

[2018-03-20 15:05] NicolasGraph commented on #1199
I would expected each option to store my last action (check/uncheck) separately.

[2018-03-20 15:07] Bloke commented on #1199
I think I would too. If you are changing `getMultiEditOption()` accordingly, I'll make a note in the pophelp that the checkbox states are independent.

[2018-03-20 15:10] NicolasGraph commented on #1199
Ok, I need to go now but I'll do that asap, this evening or tomorrow morning.

[2018-03-20 15:23] bloatware commented on #1199
I wouldn't separate them. Moreover, one string like "Synchronize database/disk copies" could cover three cases. Our `txp_lang` table will thank us!

[2018-03-20 15:30] NicolasGraph commented on #1199
Ok @bloatware,  I can't code for now but I'll take a look here before to do anything. See you.

[2018-03-20 16:32] Bloke commented on #1199
Argh! I like this too. Now you got me wondering again... and just when it was getting easy.

I'm all for fewer strings. In fact, I'd love to prune people's lang tables down on upgrade to 4.7.0 but daren't do it for fear of trampling anyone who hasn't used an `owner` for a custom string. As we move towards full multi-lingualism throughout, I'm conscious that we're going to need to find a better way

[2018-03-20 16:37] philwareham commented on #1199
To clarify, these checkboxes need to be absolutely 100% clear on what they do - as they delete things from people's themes with no chance of undo (well, apart from if you version control of course). So 'Synchronize database/disk copies' isn't clear enough in my opinion.

Plus, I've already reconfigured Crowdin for the 3 extra strings and I have no intention of changing it again, so please proceed

[2018-03-21 00:18] Bloke opened #1202 "Squiffy Admin->Account panel for low-priv users"
### Expected behaviour

_Change your password_ button is rendered correctly and not cut off.

### Actual behaviour

See screenshot for a user with Designer privs.

![lowprivuseredit](https://user-images.githubusercontent.com/21252/37689492-29eac45a-2c9d-11e8-9c9f-841174e5a846.png)

### Steps to reproduce

1. Create low-priv user (4, 5 or 6 will do).
2. Log in as that user.
3. Visit Admin->Account

[2018-03-21 08:20] ziselive commented on #1199
In fact, what I want to ask is: What are the advantages and disadvantages of the theme template stored in the database?
Or, why save the theme template to the database?

[2018-03-21 09:16] NicolasGraph opened #1203 "Blank Themes page"
If no skin is selected when submitting the skin related multi-edit form, it returns a blank page with some footer infos only.

I just included [This commit](https://github.com/textpattern/textpattern/pull/1201/commits/7a9c19e64879107e2b81bf47eeec7b0c6f27a217) into this [PR](https://github.com/textpattern/textpattern/pull/1201) to fix that.

[2018-03-21 09:22] philwareham commented on #1184
Is this issue now fixed? If so, please close the issue. Thanks all!

[2018-03-21 09:26] NicolasGraph commented on #1199
@Bloke and @philwareham, the [PR](https://github.com/textpattern/textpattern/pull/1201/commits/7a9c19e64879107e2b81bf47eeec7b0c6f27a217) seems ok to me. I separated the three multi-edit related prefs for now.

@ziselive, I think a core team member will explain that better than me. I think one reason why themes are stored in the DB is that it is easier and faster to edit them from the admin interfa

[2018-03-21 09:52] #1203 closed

[2018-03-21 10:14] Bloke commented on #1199
Thank, Nicolas. Pophelp done in 5cd73558.

Let's live with the extra strings and prefs for now. Next release, as I mentioned, may bring update/export wizards so this may only be a temporary situation and we can deflate the lang table/prefs in due course.

[2018-03-21 10:15] bloatware commented on #1199
@ziselive We not only *save* themes in db, we *serve* them from db. Stef has explained it [here](https://forum.textpattern.io/viewtopic.php?pid=310082#p310082), please read.

[2018-03-21 10:19] Bloke commented on #1199
@ziselive And I answered your [forum question directly here](https://forum.textpattern.io/viewtopic.php?pid=310176#p310176).

[2018-03-21 10:22] philwareham commented on #1199
I'm happy with this now. Closing issue. Thanks all!

[2018-03-21 10:22] #1199 closed

[2018-03-21 10:26] bloatware commented on #1184
It's 100% consistency vs 100% backwards compatibility now, I would close.

[2018-03-21 10:39] #1184 closed

[2018-03-21 10:42] philwareham opened #1204 "4.7 beta 2 release"
Please list below any blockers to release of beta 2 (note that it's not essential to fix *everything* in the issues list pertaining to 4.7 final release for this beta - so only crucial items need to be listed). We should release this beta soon as possible.

[2018-03-21 10:51] bloatware commented on #1204
What do we decide with [this](https://github.com/textpattern/textpattern/issues/1196)? If we plan it for 4.7 then beta 3 would be necessary, unless we take few days more before beta 2. Or delegate it to plugins atm?

[2018-03-21 10:54] philwareham commented on #1204
I'm happy to leave that to a beta 3. I'd like it to be in core if possible.

I'm conscious that the button spamming fix needs to be available - hence beta 2 now. If beta 3 is needed (fairly sure it will be needed) we can release that in due course.

[2018-03-21 11:00] petecooper commented on #1184
I'd held back on closing because of @Bloke's request here: https://github.com/textpattern/textpattern/issues/1184#issuecomment-371102891

…but as far as I'm concerned, it's closable.

[2018-03-21 11:01] Bloke commented on #1204
Themes file support can be delegated to beta.3 imo.

Would be nice (not essential) to fix the [Admin->Users thing](https://github.com/textpattern/textpattern/issues/1202) but otherwise, no blockers from me. If someone could update HISTORY with any changes (e.g. article copy) I could bundle a release today.

[2018-03-21 11:11] petecooper commented on #1202
Appears that the button does render correctly, but gets overlaid – see attached SFW video.

[1202 viewport.mp4.zip](https://github.com/textpattern/textpattern/files/1832961/1202.viewport.mp4.zip)

For info: https://dev-demo.textpattern.co and https://beta-demo.textpattern.co have non-Managing Editor accounts baked-in, too. Choose one of `copy-editor`, `designer`, `freelancer`, `no-access` or `staf

[2018-03-21 11:17] philwareham commented on #1204
It's on my list along with the plugin preview text pack thing you want me to look at. hey can both be beta 3 IMO.

[2018-03-21 11:29] philwareham commented on #1204
I've updated history apart from article copy - not sure what the changes are for that one. If someone wants to write that history entry I'm happy for us release beta 2 today.

[2018-03-21 11:36] bloatware commented on #1184
I've done my best for all _article_ fields, so formally it's closed.

[2018-03-21 11:45] petecooper commented on #1204
I'm sifting through commits for other HISTORY tidbits, I'll drop PRs in piecemeal so as not to delay anything.

Standing by to configure beta demo to use beta 2 when it drops.

[2018-03-21 11:48] Bloke commented on #1204
Regarding copy: look at the Article List panel in the ID column.

[2018-03-21 12:09] Bloke commented on #1204
@philwareham When you get a chance, please update the various theme manifest version numbers and push them to the -dev repo. I'll then prep a beta 2 release branch this afternoon/evening depending on day job workload.

[2018-03-21 12:28] philwareham commented on #1204
Sure, will do.

[2018-03-21 13:10] philwareham commented on #1204
Theme manifests updated

[2018-03-21 15:39] bloatware commented on #1191
This can be done via plugin now. Close?

[2018-03-21 20:29] petecooper opened #1206 "Multi-site document URL is 404"
[Duplicate of https://github.com/textpattern/textpattern.github.io/issues/96 – entering here for completeness if the URL needs to change.]

https://github.com/textpattern/textpattern/blob/dev/sites/README.txt#L10 refers to https://docs.textpattern.io/installation/multi-site-textpattern, which is currently 404.

I can't locate the instructions @jools-r wrote, any clues as to where that ended up?

[2018-03-22 09:56] Bloke commented on #1204
Done, go go go everyone, and thanks in advance.

[2018-03-22 09:56] #1204 closed

[2018-03-22 09:59] Bloke commented on #1191
I'm happy to close it. Does the latest beta meet your needs, @cara-tm ?

[2018-03-22 10:14] philwareham commented on #1204
@petecooper is you'd like to post something to Hacker News, that always gets a good uptick.

[2018-03-22 10:42] petecooper commented on #1204
https://beta-demo.textpattern.co/ updated to beta 2, will rebuild to existing schedule

[2018-03-22 10:44] petecooper commented on #1204
…and Hacker News is now aware: https://news.ycombinator.com/item?id=16647432

[2018-03-22 10:53] bloatware commented on #1191
Hm, actually mass-duplicate has not yet been patched, sorry.

[2018-03-22 12:29] bloatware commented on #1191
Well, it's a workflow question: what do you do with duplicated articles? You certainly don't want to mass-publish them with `ID`s in their titles. So you modify titles one by one, unless a plugin does it in one go (but then it could modify `url_title` too). With the latest commits, when you modify a duplicated article title, its `url_title` should be automatically modified too.

This should suffic

[2018-03-22 13:36] cara-tm opened #1207 "Finer articles associated to sections view"
For the next 4.8 release.

Devs, would you consider to introduce a new way to publish within sections like the `rah_wrach` plugin can do.

Just because it can be a headhache. Keeping the actual article list for search and/or for consultation of associated elements attached to them (such as categories, statuses, comments, date/time and so on), so "Articles" entry from the main menu could display a

[2018-03-22 14:17] Bloke commented on #1207
Confused. What's wrong with rah_wrach? It still works beautifully under 4.7.0 (aside from the prefs not showing up, but that's a minor tweak), so if it fits your needs, why change core for everyone?

I could perhaps see a slightly modified version of the plugin that links to the `default_publish_section` pref (on the Sections panel). Instead of offering the per-user choice of sections as a pref on

[2018-03-22 14:19] cara-tm commented on #1207
Yes. May be a core integration ;)

[2018-03-22 14:37] petecooper opened #1208 "Sub-Copy Editor-level users cannot modify an article immediately after initial save"
### Expected behaviour

With a Staff Writer/Freelancer/Designer hat on: write an article, save it, change status, change article content, save changes.

### Actual behaviour

With a Staff Writer/Freelancer/Designer hat on: write an article, save it, not able to change status, change article content, changes are not saved, article not marked as modified. Viewing the article list and re-entering the

[2018-03-22 14:44] petecooper commented on #1208
Addendum: same goes for Staff Writer, too. Cannot modify after the initial save, but can modify when returning to the article after going elsewhere.

SFW screencast attached (no audio).

[SafariScreenSnapz001.mp4.zip](https://github.com/textpattern/textpattern/files/1837984/SafariScreenSnapz001.mp4.zip)

[2018-03-22 14:48] petecooper commented on #1208
Findings so far – can a user of a given role update an article immediately after the initial save:

* Publisher: YES
* Managing Editor: YES
* Copy Editor: YES
* Staff Writer: NO
* Freelancer: NO
* Designer: NO

[2018-03-22 14:59] petecooper opened #1209 "Staff Writer/Freelancer/Designer saving as Live/Sticky gives misleading feedback in notification"
### Expected behaviour

Staff Writer/Freelancer/Designer cannot make articles live. If a Staff Writer/Freelancer/Designer attempts this, a warning should be shown indicating the action was not completed.

### Actual behaviour

If a Staff Writer/Freelancer/Designer attempts to make an article live, a green (positive) confirmation notification is shown indicating the article has been set to Pending

[2018-03-22 14:59] petecooper commented on #1206
https://github.com/textpattern/textpattern.github.io/issues/96 is resolved, so closing.

[2018-03-22 15:04] cara-tm commented on #1207
Ok. Hidden some sections from the dropdown list into the write panel is the main demand here. Lot of us create some "statics" pages to display a contact form for example. Not intended to display dynamic articles/content. This feature is not a complex one (I do it myself into an old TXP version years ago): just add an new "hidden" entry into the txp_section table and invoque this field within secti

[2018-03-22 15:28] Bloke commented on #1207
I wrote a tiny plugin once to filter the list of sections, per privilege group, from the Write panel and the Articles panel:

1. It's not very clever. You can still search for articles in the hidden sections and find them, for example, so it could do with being hardened a little.
2. It requires you to hack the plugin to list the sections you _don't_ want to display. This could be exposed as proper

[2018-03-22 16:02] bloatware commented on #1209
Thanks @petecooper, will fix.

[2018-03-22 16:18] ziselive opened #1210 "Fatal error: Maximum function nesting level of '256' reached, aborting!"
### Expected behaviour

Open the article page

### Actual behaviour
Fatal error: Maximum function nesting level of '256' reached, aborting! in E:\www\text\textpattern\publish\taghandlers.php on line 2845

# | Time | Memory | Function | Location
-- | -- | -- | -- | --
1 | 0.0000 | 374712 | {main}(  ) | ...\index.php:0
2 | 0.0640 | 3167424 | textpattern(  ) | ...\index.php:116
3 | 0.0640 | 3167784 |

[2018-03-22 17:02] bloatware commented on #1210
Putting something like
[code]
inside the article N° 13 would surely produce a loop. We could probably do something, like we did for recursive forms, but all lists (categories, sections) are affected.

[2018-03-22 17:12] #1210 closed

[2018-03-22 17:24] bloatware opened #1211 "Categories list widget (admin side): it is possible to assign a child as parent"
### Expected behaviour

Not as above

### Actual behaviour

As above

### Steps to reproduce

Create a category `A`, then `B` child of `A`. On the categories list, check `A` and assign `B` as its parent via "With selected" widget.

[2018-03-22 17:30] #1198 closed

[2018-03-22 17:36] ziselive commented on #1210
@Bloke  Maybe I accidentally modified the file.

[2018-03-22 17:42] ziselive commented on #1210
I compared a few files and it was indeed my mistake.

[2018-03-22 17:49] Bloke commented on #1211
Woah! That totally blows up the modified preorder binary tree internals. It appears to have "deleted" the new parent but it's still there, pointing to itself without any means of proper traversal. If you try to create it again, it complains it already exists, even though you can't see it because the orders are fubar.

This must have been a bug since, like, 4.0.7 or something. How the hell do we fi

[2018-03-22 18:01] Bloke commented on #1207
Interesting idea. So sections get another property "content publishable" (or something)? My concern is that this breaks the notion of content assigned to any section. Consider the following:

Is the implication of such a checkbox that you (as admin/publisher) can still access all articles for all sections? So you can add an article to your "contact" section that explains how to get in touch, but r

[2018-03-22 18:01] bloatware commented on #1211
Yeah, `rebuild_tree_full()` is perplex. I will do some tests and report back.

[2018-03-22 18:02] Bloke commented on #1210
No worries, just wanted to make sure we hadn't broken anything in the core theme! Thanks for the confirmation.

[2018-03-22 18:04] Bloke commented on #1211
[Bedtime reading](https://www.sitepoint.com/hierarchical-data-database-2/) :-)

[2018-03-22 18:08] bloatware commented on #1211
Looks [familiar](https://github.com/textpattern/textpattern/blob/73af040ef640806da6a2061bece11dc4658c225b/textpattern/lib/txplib_db.php#L1264)

[2018-03-22 18:28] bloatware commented on #1209
I have accidentally closed it (should be #1208), but now Staff Writer/Freelancer/Designer has no live/sticky option available, does it fixes the issue?

[2018-03-22 18:29] #1208 closed

[2018-03-22 19:27] petecooper commented on #1209
Live and Sticky are listed but not selectable - OP resolved. Thank you @bloatware!

[2018-03-22 19:28] petecooper commented on #1208
Excellent work @bloatware – thanks!

[2018-03-22 19:40] petecooper opened #1212 "Role permissions – some counter-intuitive anomalies"
### Expected behaviour

A Freelancer should have (at least) read access to Images and Files, and the ability to delete their own articles before being submitted for approval.

### Actual behaviour

A Freelancer has read & write access to Images, no access to Files, and no ability to delete their own articles before being submitted for approval.

### Steps to reproduce

* log in as Freelancer
* vie

[2018-03-22 20:07] petecooper opened #1213 "Inconsistencies in menu items for lower-ability users"
(Something for 4.8 or a 4.7 point release - maybe a candidate for https://github.com/textpattern/textpattern/projects)

**Background**
Most of my own Textpattern sites are single-user and I access things as a Publisher. Some of my clients do the same, eschewing the roles stuff and giving trusted people the same roles for an easy life.

A recent addition to my client roster is very keen to have a)

[2018-03-22 21:42] bloatware commented on #1213
Hard to disagree :-) I have fixed the third point, and the second one should be easy to fix. But the first point is tough atm, because a plugin could add some preferences for freelancers etc. But currently we have no way to know whether such preferences exist until we are on the tab. So we can not remove Preferences tab if some admin plugins are registered.

Hope in 4.8 we'll find a more flexible

[2018-03-22 23:05] Bloke commented on #1213
As @bloatware says, difficult to defend against. We don't necessarily know when the menu is built whether there are any prefs that a plugin might have installed on the panel. But we do some jiggery pokery in `txplib_head.php` with the Admin->Users panel for low priv users so we might be able to use similar logic on prefs too.

In versions gone by, prefs were restricted to only user groups 1 and 2.

[2018-03-22 23:43] Bloke commented on #1213
Regarding previewing own content... I agree with [this change](https://github.com/textpattern/textpattern/commit/ff51aef34eda54f3c047b8677e47759c003284fd), but shouldn't we permit anyone who can write an article - even in Draft - to be able to preview it? How will a Freelancer know they're Textile copy renders okay if they can't see it in-situ with the stylesheet? The on-Write-page Preview is only

[2018-03-22 23:46] Bloke commented on #1209
Not quite. A freelancer can still change status from the multi-edit tool. Live and Sticky are available but if they choose it, they get the same green success message, yet the status is only set to Pending.

[2018-03-22 23:54] Bloke commented on #1209
Incidentally, if we open up Files access as outlined in #1212 then editing a file results in the same experience: a Freelancer can select Live from the dropdown when they edit their own file, get a Green confirmation message on save but actually only set the status to Pending.

[2018-03-23 00:07] Bloke commented on #1209
More findings:

1. Create article as Freelancer.
2. Visit Articles panel.
3. Click Copy alongside article just created.
4. Edit title of copy.
5. Click Save.

Expected result: article saved.
Actual result: 'Internal error' thrown. 'Invalid status' returned in flash message area.

Looks like status=Live is selected in the dropdown during the Copy operation, even though it's disabled and not selecta

[2018-03-23 00:21] Bloke commented on #1211
Nice! Much closer, and now it doesn't disappear up its own butt any more if you try to make a loop.

One slight possible issue:

1. Create two categories: A, B.
2. Assign B as child of A.
3. Use multi-edit to reassign B back to root (empty select entry).

Expected result: assignment is made.
Actual result:

[code]

[2018-03-23 05:57] phiw13 commented on #1213
ref Admin > languages

Correct. And I think it should stay like it is.

--

Am I the only to be little uncomfortable with giving Freelancer write access to the File panel. Read access seems OK, though

[2018-03-23 08:48] petecooper commented on #1213
@phiw13

No, not just you. I was a little surprised a Freelancer had to go through hoops to publish to Live, but could upload a File without anyone checking it. And I absolutely understand the logic behind the languages panel, I wasn't aware of that before now.

…but then again, the persona of a typical Freelancer, are they trusted? This is where I struggle a bit, as Textpattern has these roles th

[2018-03-23 08:49] petecooper commented on #1213
@Bloke

I've got this as a todo for me, also. The temptation to run things as Publisher and forget about the org/collab aspect is too high and I would love to have some extra eyeballs & feedback from people who actually do this in real life…they tend to be a bit quiet, however.

[2018-03-23 08:57] petecooper commented on #1209
@Bloke

I'm less inclined to open up write access to Files and Images for Freelancers, given that they can't write articles and make them Live without approval but _can_ make Files and Images Lives without approval.

Is a roles reexamination or overhaul in order, after all?

[2018-03-23 09:08] bloatware commented on #1213
Possibly tags. Core should be safe, but if some public powaplugin is installed, a freelancer could abuse it.

[2018-03-23 09:27] bloatware commented on #1211
Thanks, should be fixed now. We'd still better fool-proof `rebuild_tree()`, but under normal use it should be ok.

[2018-03-23 09:56] Bloke commented on #1213
Right, so as I mentioned in the other thread, let's review the roles and figure out who should do what. Maybe freelancers shouldn't be able to upload files/images at all, not sure. But then if theyr'e freelancing and writing articles that require images and attachments, we're then confining them to only being able to use ones that have already been uploaded.

Designers have write access to images,

[2018-03-23 10:02] bloatware commented on #1209
I have re-adjusted Status selectors for articles. Not sure about opening Files access to freelancers atm.

[2018-03-23 10:06] bloatware commented on #1213
Let's open Pandora boxes after 4.7, betas are betas.

[2018-03-23 10:09] Bloke commented on #1209
Reverted File access in 7989606c.

[2018-03-23 10:11] Bloke commented on #1213
I concur. Nothing to stop someone making a feature branch at any time though :-)

[2018-03-23 10:17] Bloke commented on #1211
Sorted. Top job, thanks.

[2018-03-23 10:34] Bloke commented on #1209
This getting closer. Thanks for fixing the multi-edit status assignment, Oleg.

Couple more observations:

1. With a publisher account, set the default publish status to Pending.
2. Log in as Freelancer.
3. Visit Article list panel.
4. Note no 'Create Article' button in control panel. Should there be one? They can create articles by clicking the Write panel. Probably faulty priv checking in the co

[2018-03-23 10:54] cara-tm commented on #1207
I well understand your point of view for Textpattern and its "Just write" paradigm.

May be you could offer your plugin above to the community and starting a thread about the opportunity to hide some sections to the dropdown list?

[2018-03-23 10:54] bloatware commented on #1209
In my `txp_prefs` table I see one `default_publish_status` **per user**, is it normal? If yes, what is your freelancers publish status, could it still stay Live?

[2018-03-23 11:13] bloatware commented on #1209
Done for Create article button.

[2018-03-23 11:26] Bloke commented on #1209
That's the million dollar question. Yes, I forgot that the pref was per user.

Now that the prefs panel is open to all, it should be easier to offer only per-user prefs to lower priv level users. That would also counteract one of Pete's other issues he raised about the prefs panel always being empty on vanilla installs. We'll have at least one pref in the Publish group for all users!

Is it possib

[2018-03-23 11:40] bloatware commented on #1209
I'm not yet at ease with the privs system, dunno if we can expose them individually.

[2018-03-23 11:42] Bloke commented on #1209
I'll look at it and see what can be done there.

Addendum: this would make it tricky to enforce when saving. Will have to think about it.

[2018-03-23 11:45] bloatware commented on #1209
Meanwhile, Draft for freelancers is consistent with what we have on duplicate. And they can not see their publish status anyway, so...

[2018-03-23 12:11] Bloke commented on #1209
Okay, now they can edit their own pref (see 1c284160). So all we need to do now is make sure it's taken into account when they create a new article. It's fine if they Copy to always set draft, but if they create new it should default to the value in their per-user pref.

Can you tweak that please?

[2018-03-23 12:13] Bloke commented on #1207
Sure, I can do that. I'll try and polish it up a bit first.

[2018-03-23 12:25] bloatware commented on #1209
Oh, nice! Would `min(pref, pending)` do (i.e. article statuses are linear)?

Probably we also need to check what happens on author creation/modification. Should the publishing status be adapted to the role?

[2018-03-23 12:29] #1202 closed

[2018-03-23 12:30] philwareham commented on #1202
This should be fixed now - let me know if problems persist. Ta!

[2018-03-23 13:11] Bloke commented on #1209
Using `min()` would work but I'd like to (eventually) get away from the assumed hierarchical nature of roles. That's what the status-mods branch is all about, which is 90% complete but I hit a roadblock. Can't remember exactly what it was and [my post on the subject](https://forum.textpattern.io/viewtopic.php?pid=302952#p302952) stupidly didn't go into details, bah!

Regarding new authors, yes, th

[2018-03-23 13:19] Bloke commented on #1202
Sorted, thank you!

[2018-03-23 13:20] #1211 closed

[2018-03-23 13:29] bloatware commented on #1209
You mean unset unavailable statuses? Then a published article viewed by a freelancer will have a wrong status on the Write tab.

[2018-03-23 14:41] Bloke commented on #1209
Yah, nuts you're right. Maybe an option then to exclude unavailable statuses for those times we need to do it? Or a wrapper function that strips them off?

Just conscious of using the same 'hack' in two places to limit the dropdowns. Centralising it is my preferred option to help minimise bugs later when only one version might be altered by mistake. But if we're going to rethink or at least revisi

[2018-03-23 14:45] petecooper commented on #1209
@Bloke

A heavy +1 to this.

[2018-03-23 14:46] petecooper commented on #1213
I'd be grateful if someone could tag this with 4.8 milestone, please and thank you

[2018-03-23 14:48] petecooper commented on #1212
OP technically addressed, so closing.

Thanks very much @Bloke!

[2018-03-23 14:48] #1212 closed

[2018-03-23 14:48] petecooper commented on #1198
Thanks very much @philwareham!

[2018-03-23 22:35] makss opened #1216 "Syntax error if PHP version is less than 5.6"
`Dev` branch, `Skin` Tab.

Surprisingly, PHP less than 5.6 does not understand [this code](http://sandbox.onlinephpfunctions.com/code/9e2cd1ca1f28da3428054c9b04e96f9e58cc6c91)
1. Change PHP version
2. Press "Execute code"

---
If write code in one line, then everything works fine in all versions of PHP.
[code]

[2018-03-24 08:42] Bloke commented on #1216
Holy moly. Well spotted. We should make a note in the code when it's patched so nobody tries to split the line in future.

[2018-03-26 05:03] #1216 closed

[2018-03-26 07:00] phiw13 opened #1217 "Pages / Forms / styles panels - the Create Page link should not appear when looking at a new, unsaved page or form"
After clicking the “Create Page” once to , eh, create a new page or form, the “Create Page” button still appears. It should not as it is confusing and can lead to data loss (user thinks she needs to click again that link to actually save the thing she just created)

[2018-03-26 08:42] #1217 closed

[2018-03-26 16:30] philwareham opened #1218 "Cleanup of list head area"
I've rewritten some HTML structure that I'd like to use for the area above list tables on admin panels.

Basically, it's to fix the 'list options' floating away above the top of the tables if there's a few UI widgets on the left-hand side of the area (although it has other benefits too for smaller screen widths). To fix this I've used Flexbox - see the example here: http://design-patterns.textpatt

[2018-03-26 20:48] bloatware commented on #1218
This will take some time (a dozen of tables to revise). I can do it tomorrow afternoon if no one shots first.

[2018-03-26 20:57] Bloke commented on #1218
I'm tinkering with it now. If I get anywhere, I'll commit, but if you've not heard anything by the morning, assume I've failed!

[2018-03-27 05:57] philwareham commented on #1218
Ok thanks for trying. Leave it with me for the morning and I’ll see if there’s some different css that can achieve this without so much upheaval. When I created the css for this I didn’t realise list options was inside the form tag.

Might be another solution. Not sure yet.

[2018-03-27 07:32] philwareham commented on #1218
Not seeing another way to do this - tried a few options but no joy. Sorry, I will need the aforementioned div to contain the list options.

[2018-03-27 07:42] phiw13 commented on #1218
Given current HTML structure, been there, tried all the tricks in the book (and out of it), there is very little you can do.
The proposed solution would be pretty good for smaller screen users.

[2018-03-27 07:43] bloatware commented on #1218
Leave it with me if you prefer, it won't hurt to put some order into this holy mess (of mine) anyway.

[2018-03-27 08:11] philwareham commented on #1218
The only tricky thing I can see is that the list options is automatically added to txp-lists. Which is good for plug-in authors as they inherit our widget.

The new HTML I’ve proposed assumes that structure is available above the list - but we can’t guarantee plugin authors will ever follow that. Hopefully there is a way forward.

[2018-03-27 09:17] bloatware commented on #1218
I have more or less done it for Ajax lists (mainly Content tab) generated via our `Table` class and did my best for plugins. I will try to fix other lists (Comments, Themes) later, just a question: would setting
[code]
break something, both inside a flex parent or not?

[2018-03-27 09:41] philwareham commented on #1218
The previous CSS used floats left and right for the items above the list. This is not desirable as you can push content down towards the list with floats. And floats can't be used within flex containers (the rule is ignored/overrode.

I tried all manner of float, flex, absolute positioning but the HTML code above is really the only satisfactory way of going.

[2018-03-27 10:04] bloatware commented on #1218
Ok, I have committed the first part (shouldn't break anything too much). Content lists should work, please test. Will fix the rest this afternoon if nobody does it before.

[2018-03-27 13:53] Bloke commented on #1218
Hmmm, I did fear this might be the case. If the table contains no data, doesn't that mean no column headers? And no headers means no list options... right? In theory...

[2018-03-27 14:29] Bloke commented on #1218
Rats.

[2018-03-28 08:21] Bloke commented on #1218
All seems to work swimmingly, thanks Oleg.

The only minor niggle, as you say, is that the non-Ajax save on the Themes panel means that the list-options disappear if your search returns nothing. On all Ajaxified pages, the list-options stay put if your search result returns nothing.

Let's worry about that when we refactor `textpattern.js` in the next version.

[2018-03-28 08:33] philwareham commented on #1218
Why doesn't themes panel follow the same consistency as the rest of the panels? e.g. Ajax-save?

[2018-03-28 09:29] bloatware commented on #1218
Currently only the lists are ajax updated, not the headers. But when we delete a theme from db (but not disk), it should appear in Import select list that is inside the header.

It shouldn't be difficult to remove list options on no result searches in core, but I'm not sure about plugins.

[2018-03-28 09:35] bloatware opened #1219 "Users search by login does nor work"
Probably because of calling `getFilter()` with options, but I'm not sure:
[code]

[2018-03-28 10:10] bloatware commented on #1219
Ignore me, it just needs exact login strings to be given.

[2018-03-28 10:10] #1219 closed

[2018-03-28 10:35] Bloke commented on #1218
With reference to d9e5a17, anyone think of a reason why we have no search/pagination on the Plugins panel? Can't think of any technical reason for it.

Is it because we expect the average user not to have many installed? On my dev site I have 160+ so it would be useful. Maybe that's a corner case...

[2018-03-29 09:16] Bloke opened #1221 "Odd search behaviour with select none"
### Expected behaviour

Search select boxes revert to previous selection if none checked.

### Actual behaviour

Search select boxes stay all empty, but search is performed on previous selection.

### Steps to reproduce

1. Visit Articles panel, perform a search. Note results.
2. In search widget, toggle all checkboxes off.
3. Repeat same search as in 1. Note search results are the same.
4. Click

[2018-03-29 10:07] bloatware commented on #1221
Mmm, dunno. I wouldn't like to async update the search widget too (with events to reattach). I think we should either disable the widget if nothing is checked, or not restore the previous selection but output the whole list.

[2018-03-29 10:19] Bloke commented on #1221
I'm fine with either of those options. Probably the first one makes more sense so you can't perform a search if there's no selection.

[2018-03-29 11:49] Bloke opened #1222 "Pagination message doesn't appear when searching boolean values"
### Expected behaviour

If search results > number per page, render flash message.

### Actual behaviour

Flash message not displayed.

### Steps to reproduce

1. Create a bunch of articles (at least > 12) that have status 1 (Draft).
2. Create a bunch of articles (at least > 12) that have status 4 (Live).
3. Visit Articles panel.
4. Set Search dropdown to search only Status field.
5. Enter `4` as

[2018-03-29 13:29] #1222 closed

[2018-03-30 12:19] philwareham commented on #1218
Hi. Is this issue completed? Looks good in my test install. 😀

[2018-03-30 13:42] Bloke commented on #1218
Yep, works for me too.

[2018-03-30 15:25] philwareham commented on #1218
Thanks guys!

[2018-03-30 15:25] #1218 closed

[2018-04-02 11:18] Bloke commented on #1221
Like it, thanks for fixing this.

[2018-04-02 11:18] #1221 closed

[2018-04-02 11:22] Bloke opened #1223 "Add 'sync' checkbox state to theme callbacks"
When raising callbacks, it would be better if the content of the `sync` param was also sent in `$callbackExtra`. The value of the setting may well influence what plugins do with regards additional processing, tidy up, etc.

Can we  add this attribute to the passed array of stuff?

[2018-04-03 09:02] cara-tm opened #1224 "escape attribute and latence"
Devs.

Could you try this below which seems to be a heavy memory consumption with a rendering latence:

`<txp:excerpt escape="json,p" />`

`<txp:excerpt escape="tidy,textile,p" />`

Tests with only 2 paragraphs as an excerpt within 4.7-dev latest on a local MAMP server for PC added just before a `<txp:body />` tag for the same article.

[2018-04-03 09:55] bloatware commented on #1224
Nothing noticeable on WAMP. Any clues in your debug info?

[2018-04-03 20:44] petecooper commented on #1224
@cara-tm – what is the source text for the article(s) that causes the latency? Are you able to share it here?

I've just tried a 2-paragraph excerpt on an Nginx server and it loads instantly, with no noticeable overhead or anything extraordinary in the debug information.

[2018-04-04 12:25] philwareham opened #1226 "4.7 beta 3 release"
Hey all! Yep, it's that time again to consider another beta to keep the release momentum up!

To that end, can you let me know any issue blockers to beta 3 release below:

- [x] Make the checkboxes less visually heavy (Phil)
- [x] Add 'sync' checkbox state to theme callbacks (Nicolas or Bloke) https://github.com/textpattern/textpattern/issues/1223
- [x] Hyphen and duplicate article URLs (TBC?) htt

[2018-04-04 12:37] petecooper commented on #1226
Not strictly relating to OP, but switching demo site to beta 3 is a cinch, so no blockers there.

Also, @philwareham, if time permits could you please add issue hyperlinks/references to OP checkbox points so we can cross-refer in future -thanks!

[2018-04-04 12:56] jools-r commented on #1226
Maybe also add Stef's language fallback to English for plugins when translation strings are not available in another language from the language-tweaks branch. In my testing, it worked fine.

[2018-04-04 13:02] Bloke commented on #1226
`lang-tweaks` branch definitely needs folding in. I'm happy with it, just needs updating to dev and merging back in.

[2018-04-04 13:12] philwareham commented on #1226
I've merged `lang-tweaks` now.

[2018-04-04 13:35] bloatware commented on #1191
If we change `-ID` to `_ID` in `url_title` of duplicated articles, it will be considered as customized and **not** reset when `Title` is modified. IMO the suggested remedy would be worse than disease SEO-wise, so closing.

[2018-04-04 13:35] #1191 closed

[2018-04-04 13:39] bloatware commented on #1226
I just have to update the docs on shortcodes, but it's not blocking anything.

[2018-04-04 18:00] cara-tm commented on #1224
Ok. Fine. Maybe it's due to my TXP installation. If you (Devs) consider all is fine, please close this issue.

[2018-04-04 19:13] uli-on opened #1229 "white-space: nowrap on anchor tags in menu items"
Further explanations as outlined in [my forum post](https://forum.textpattern.io/viewtopic.php?id=48586).

[2018-04-04 20:06] bloatware commented on #1224
I can neither guarantee that the regex used in the `escape` attribute is always fast, nor reproduce the issue. An example string would be quite useful.

[2018-04-04 21:36] bloatware commented on #1224
I have reworked the regex, hope it helps.

[2018-04-05 06:55] cara-tm commented on #1224
Oh!

[2018-04-05 09:13] #1229 closed

[2018-04-05 09:13] philwareham commented on #1229
Done!

[2018-04-06 08:24] #1223 closed

[2018-04-06 08:24] Bloke commented on #1226
Theme sync done.

[2018-04-06 08:35] philwareham commented on #1226
OK, I've spotted some fixes needed in two of the admin themes - added those to the list. When done, I'm happy to go for beta 3 release.

[2018-04-06 08:40] Bloke commented on #1226
Sweet, I'll keep an eye on this thread. If nothing else presents itself after you've done those fixes, I'll prep beta 3.

[2018-04-06 12:42] philwareham commented on #1226
OK, I'm done with my changes. Now ready for beta 3!

[2018-04-06 13:10] Bloke opened #1231 "Uploading some GIF images results in warning"
### Expected behaviour

Image is uploaded without error.

### Actual behaviour

Uploading the attached image throws the error:

[code]

### Steps to reproduce

1. Set site to Debugging production mode.
2. Upload the attached image "CatDriving.gif" (an animated gif). During the upload process, the above error is thrown.
3. Upload the attached image "CatFive.gif" (also an animated gif). No error is

[2018-04-06 13:11] Bloke commented on #1226
Sweet, I'll get beta 3 ready. Blog post is written as Draft.

[2018-04-06 13:14] Bloke commented on #1226
Actually, @philwareham could you bump the various theme manifests to beta.3 first please? If I do it directly in core, they'll get reverted when you next push from the theme repos. Ta!

[2018-04-06 13:17] petecooper commented on #1226
Possibly related - `HISTORY.txt` refers to `Changes in 4.7.0`, which implies final release.

Should that be changed or am I overthinking?

[2018-04-06 13:25] Bloke commented on #1231
Yes, you're right sorry: a warning.

It's uploaded for me too, just complains in the process. Perhaps transparency can't be processed by the `imagecolorsforindex()` function. Hmm....

[2018-04-06 13:26] Bloke commented on #1226
Can't get the staff... ;-)

[2018-04-06 13:28] petecooper commented on #1226
I'll hold off on my issue to move everything 4 and a half pixels anti-clockwise and make the yellow a bit less yellow…

[2018-04-06 13:45] petecooper commented on #1231
Two more attached for your tests, @Bloke …

![demo](https://user-images.githubusercontent.com/226578/38424482-1c4d88be-39a9-11e8-97c9-b367626b1c7c.gif)

![gjmpe](https://user-images.githubusercontent.com/226578/38424483-1c6644c6-39a9-11e8-9c65-3db0a84f844e.gif)

[2018-04-06 13:55] Bloke commented on #1226
All done. Over to you guys to push whatever buttons need pushing... Thanks everyone!

[2018-04-06 13:55] #1226 closed

[2018-04-06 13:58] Bloke commented on #1231
5.2MB! Time to increase the upload file limit in PHP on my server...

Thanks.

[2018-04-06 14:01] petecooper commented on #1226
Beta site updated, successfully rolling on beta 3. Top marks, everyone!

[2018-04-06 14:12] petecooper commented on #1226
@Bloke - if you can bump this when the official announcement blog post is live, I'll get that shared, too.

[2018-04-06 14:25] Bloke commented on #1226
No worries, thanks. Since I have strange issues with uploading files to .com, @philwareham takes care of that, so he'll notify when that's done.

[2018-04-06 14:29] petecooper opened #1232 "Multiple image/file upload notification stacking"
### Expected behaviour

When multiple images or files are uploaded, one or more are successful, and one or more fail, notifications should reflect success(es) and failure(s) in a stacked or similar fashion.

### Actual behaviour

When multiple images or files are uploaded, one or more are successful, and one or more fail, notifications do not accurately reflect the outcome.

In the tests I've done

[2018-04-06 14:30] petecooper commented on #1231
Follow up - I tried those two GIFs and found a notification bug: https://github.com/textpattern/textpattern/issues/1232

[2018-04-06 14:35] Bloke commented on #1232
Good catch. Multiple successes seem to stack fine. Ummm, @bloatware, any ideas...?

[2018-04-06 14:46] philwareham commented on #1226
Will be back in office in about 30 mins. Will upload then and let you know.

[2018-04-06 14:47] petecooper opened #1233 "[RFC] Feasibility of baked-in notification logging"
I keep coming back to the potential usefulness of a built-in notification/audit log, and whether having actions & notifications logged internally (as per access logs) would be beneficial.

Seeing who logged in, did what and when has value for administrators of multi-user Textpattern instances, especially within organisation hierarchy where auditing is commonplace.

Useful info:
* author logged in,

[2018-04-06 15:01] bloatware commented on #1232
When you try to upload a file sized beyond the pref limit, txp does not even send it and issues an error notification client-side. And if you are simultaneously uploading a huge and few small files, the small ones are uploaded very quickly and announced so, dismissing the failure notification.

We should tweak the announce process to be able to append new notifications to announced ones, but I hav

[2018-04-06 15:11] bloatware commented on #1232
No, actually the problem was that if you upload *only* huge files, the notification is not fired server-side, since nothing is uploaded. So I had to trigger it client side.

[2018-04-06 15:15] Bloke commented on #1233
Interesting. Honestly don't know whether it's a core feature or plugin. We have a Visitors Logs panel, which could become a generic "Logging" panel filterable by 'type' of log action, that includes "visitor log" as one of the types.

Whether we could massage the `txp_log` table to store info not only from external sources but internal too (by making the columns more generic) is something we could

[2018-04-06 15:32] Bloke commented on #1232
The only way I could think of doing this would be to always store the flash messages server side (Ajax or otherwise) and always ask the server to fetch the latest message stack at the end of any action chain.

My rudimentary FlashMessage stack that I never finished is attached for perusal. Doubtless there are better methods.

[FlashMessage.txt](https://github.com/textpattern/textpattern/files/1884

[2018-04-06 15:36] petecooper commented on #1233
Yeah, I concur. Thanks very much @Bloke – much appreciated!

[2018-04-06 15:36] #1233 closed

[2018-04-06 15:55] philwareham commented on #1226
OK, article is live https://textpattern.com/weblog/407/textpattern-cms-470-beta-3-released 🎉🎂

[2018-04-06 16:12] philwareham commented on #1224
If this issue is resolved, please close. Otherwise please give further details. Cheers!

[2018-04-06 21:55] bloatware commented on #1232
Kinda fixed, but needs to be revised later, when we grok jQuery fileupload library.

[2018-04-07 06:42] colak opened #1234 "Skin"
There is one string which uses the `skin` term which I guess that it should be replaced

### Expected behaviour

### Actual behaviour

`Not exportable skin names for: <strong>{list}</strong>. Names must match the following regular expression: <code>^[a-z][a-z0-9_\-\.]{0,63}$</code>`.

### Steps to reproduce

https://crowdin.com/translate/textpattern-cms-textpacks/16/engb-el

#### Additional inform

[2018-04-07 10:35] #1224 closed

[2018-04-07 20:55] jools-r opened #1235 "on/off yesnoradio styling?"
This is more a suggestion than an issue.

For years we've had two no / yes radio buttons in the preferences panels. It works fine, we know it well so there's no _need_ to change it. All the same, it's fairly basic. I had a go at a simple CSS-only approach to styling them as a yes/no widget that looks like this:

![yesnoradio_styling](https://user-images.githubusercontent.com/1203899/38460228-fa293

[2018-04-07 22:48] Bloke commented on #1235
I like it. I think Phil tried something like this a while ago (using jQuery UI I think?) but it was either r-e-a-l-l-y slow or required heavy code or something went amok in some browsers so we ditched it and went back to radios.

Things have moved on since then. Maybe we can look at this again, I'll leave it to Phil to decide. I'm fine with either look.

[2018-04-08 01:32] phiw13 commented on #1235
Yeah, there is no need for JQ-UI to do this kind of things, although I’m not sure how accessible it is.

A few notes:

Adding a class to `txp-form-field` would surely simplify the code (suggestion: `txp-form-field-yesnoradio` ?). That would make it possible to use `display: flex`, there is no need to to remove the white-space between the inputs and labels.

You need to add some styling for the foc

[2018-04-08 07:25] philwareham commented on #1235
Hi. I’ll add in some class names if you wish but I’m fairly happy with the current radios for now in 4.7.

Maybe we can look again at 4.8. I’m away until Tuesday though so I can’t add any class names until then.

[2018-04-08 09:08] jools-r commented on #1235
@philwareham: No problem, have a nice weekend! The added html-type class to the container might be useful anyway. And perhaps with Philippe's improvements, it's an easy gain?

@phiw13: I like your demo. Did you already have that in Sandspace? If so, I'm sorry I hadn't noticed it before.
Also wondered how well that works from an ARIA standpoint (my knowledge is still a bit basic on that front). Ple

[2018-04-08 09:33] phiw13 commented on #1235
I just recycled some style already available in Sandspace. If/when Phil adds some classes, I‘ll improve it a little further. I don’t think it will be part of the theme, but I’ll put it in the custom_example stylesheet as an option.

What I’m a little worried about is the hiding of the radio-buttons; I’m not sure screen-readers will “see” them as such (and the problem I always have is listening to

[2018-04-08 09:44] philwareham commented on #1235
Yes, jQuery UI reconned the aria states and roles onto the labels I believe. CSS alone is not enough.

[2018-04-08 12:34] jools-r commented on #1235
Tabbing and left and right arrows still works as before and as the rest of the markup is unchanged so the aria states and roles (or lack of) are exactly as they currently are. The addition of a :focus state as Philippe suggested would make one's tabbing position apparent.

The radio inputs are hidden with `clip` and `overflow:hidden;` and **not** `display:none;` or `visibility:hidden;`, so they sh

[2018-04-08 21:07] petecooper opened #1236 "Investigate feasibility of changing article comment "Remember" checkbox from cookie to localStorage"
See https://forum.textpattern.io/viewtopic.php?pid=310756#p310756

[2018-04-09 07:27] bloatware commented on #1236
Textpattern is "giving an opportunity to act before cookies are set on a first visit to a site" required by GDPR. We just need to add some "uses cookies" notice near the checkbox perhaps.

Storage would need some external or inline JS that we don't use in core on the public side atm.

[2018-04-09 08:16] Bloke commented on #308
For more completeness, a forum thread about commenting: https://forum.textpattern.io/viewtopic.php?id=33029.

[2018-04-09 08:59] petecooper opened #1238 "Credits in `HISTORY.txt` and release notes"
As you may realise, I tend to pick through `HISTORY.txt` and make minor presentational changes. On my most recent pass, I realised there are mixed naming references to contributors who aren't on the core dev team. Some are forum usernames (e.g. I am `gaekwad`) and others are GitHub usernames (e.g. jools-r). Release notes use real names, forum names, and GitHub names.

Clearly many or most users wo

[2018-04-09 09:33] petecooper commented on #1238
Alright, cool.

[2018-04-09 09:33] #1238 closed

[2018-04-10 09:00] philwareham commented on #1234
Fixed, thanks. Closing.

[2018-04-10 09:00] #1234 closed

[2018-04-10 11:43] jools-r commented on #1235
Granted it's not as compact from a CSS point of view, but adding the html-type as a class to the `.txp-form-field` container is easier than adding it to `.txp-form-field-value`:

Change [line 264](https://github.com/textpattern/textpattern/blob/dev/textpattern/include/txp_prefs.php#L264) of txp_prefs.php to:

[code]

To add it to `.txp-form-field-value`, it looks like the [inputLabel](https://gith

[2018-04-10 11:48] philwareham commented on #1235
That assumes the on/off yes/no radio buttons are restricted to prefs only. That's not the case.

[2018-04-10 12:13] jools-r commented on #1235
True. Good point.

[2018-04-10 18:40] petecooper commented on #1236
Thanks @bloatware - will close.

[2018-04-10 18:40] #1236 closed

[2018-04-11 07:08] NicolasGraph commented on #1223
Thanks @Bloke; I was busy far from my computer…

[2018-04-11 13:25] petecooper commented on #1231
@Bloke

My guess would be these GIFs are using the multi-layer colour space hack. See the spectrum grid in https://github.com/textpattern/textpattern/issues/1231#issuecomment-379257765 for an example.

Static GIFs are limited to 256 colours, animated GIFs can have more than that.

From https://webmasters.stackexchange.com/a/39904 –

I don't know if there're any security exploits with GIFs, perhaps

[2018-04-11 13:53] petecooper opened #1239 "Update default article with language translation link"
Note to self: when mockup in https://forum.textpattern.io/viewtopic.php?pid=310878#p310878 is signed off/approved, update the default article to point to the same URL with similar text.

Please could someone with edit chops assign this an appropriate milestone.

[2018-04-11 14:09] #1239 closed

[2018-04-11 14:13] petecooper commented on #1232
OP is addressed, so closing – thanks @bloatware!

[2018-04-11 14:13] #1232 closed

[2018-04-11 14:24] petecooper opened #1241 "File upload misbehaving in `dev`?"
(Might just be the demo site, it's not clear…would appreciate additional testing from other folks reading this running on `dev`)

### Expected behaviour

Permitted file uploads to be available.

### Actual behaviour

Permitted file uploads are seemingly not available.

### Steps to reproduce

* log in with rights to upload a new file (Publisher, Managing Editor, etc)
* visit `/textpattern/index.ph

[2018-04-11 15:02] petecooper commented on #1241
More tests, more granularity with results, and some more SFW silent screencast evidence recorded.

There's something weird going on with uploads, but I can't quite pinpoint it. I can successfully upload files to about 768KB, seemingly files >1MB fail despite the upload limit being ~2MB (2000000B).

[dev file upload follow up 2.zip](https://github.com/textpattern/textpattern/files/1899355/dev.file.

[2018-04-11 15:42] petecooper commented on #1241
OK, figured it out - localised issue.

Nginx is set to limit uploads to 1M…why dev-demo and beta-demo are behaving differently is unclear, but I'll investigate and fix.

Thanks for your assistance @phiw13 !

[2018-04-11 15:42] #1241 closed

[2018-04-11 18:17] bloatware commented on #1241
I have just set the limit to 4M and uploaded a 3M file without any issue. @petecooper have you found something?

[2018-04-11 20:09] petecooper commented on #1241
@bloatware

Yes, my fault - Nginx was defaulting to 1M maximum file upload, and since Textpattern gathers its maximum upload from PHP (I think), it was silently failing at a web server level.

[2018-04-11 20:16] bloatware commented on #1241
In 4.7 large files are uploaded in **chunks sized by PHP**, but the total file size is only limited by the txp preference. Few days ago I've noticed that uploading was impossible but took it as a security measure. Now it seems to work. Weird...

[2018-04-11 20:24] petecooper commented on #1241
@bloatware …server limit in this instance being PHP or the http server?

[2018-04-11 20:27] bloatware commented on #1241
@petecooper I don't remember, probably the smallest one. I've kept it as it was in 4.6.

[2018-04-11 20:28] petecooper commented on #1241
OK, thanks @bloatware – my curiosity is piqued, I'm going to investigate uploading and see what's happening.

[2018-04-11 20:45] bloatware commented on #1241
No, actually it must be some php value. How do you retrieve nginx `client_max_body_size` in PHP?

[2018-04-11 20:48] petecooper commented on #1241
@bloatware – I don't know, sadly. I'll look around and see what I can find. I've got some tests running at the moment and will report back with findings very shortly.

[2018-04-11 20:52] petecooper commented on #1241
Findings:

* Textpattern 4.7-dev max upload is 9007199254740991 bytes – maximum `BIGINT` value?
* PHP lists `upload_max_filesize` as 2M (unchanged from default)
* Nginx lists `client_max_body_size` as 10M (changed from 1M default)

Using [this](https://github.com/textpattern/textpattern/issues/1241#issuecomment-380583420) logic, I should be able to upload something larger than the 10M limit, as lo

[2018-04-11 20:56] bloatware commented on #1241
Thanks Pete. I guess 4.6 has the same problem on nginx servers if nginx limit is lower than php's. We could limit the max chunk size to, say, 1M in hope it will suffice. Or introduce a pref. Dunno

[2018-04-11 21:04] petecooper commented on #1241
4.6 may have the same problem, but it's officially not supported, so the liability is reduced/restricted.

My understanding is, historically, if a user enters a higher byte value than PHP permits, it's modified down to the PHP value…or was it the http server value (i.e. Apache)?

I'm somewhat concerned that if the Textpattern value is effectively unlimited (`BIGINT` bytes is >8,000 yottabytes) the

[2018-04-11 21:06] Bloke commented on #1241
Interesting. Under normal circumstances, this seems like desired behaviour. If a Txp admin wants to let people upload colossal files, but the underlying server limits it to chunking, that's great. You can upload massive files in N-bytes hunks where N is the lower of the PHP/web server limit.

However, in a public-facing situation such as the demo site this is not really what you want, as Pete says

[2018-04-11 21:17] petecooper commented on #1241
@Bloke – yeah, not ideal for a public server, though I can turn off uploads easily enough and return to the pre-existing Files/Images as per the old server. And yes, containers would limit the damage, too.

I suppose there's nothing stopping a user SFTPing a massive file up to a server and filling a drive, so it's not exactly new territory.

I'm torn - on one hand, this would potentially not have

[2018-04-11 21:34] bloatware commented on #1241
We have to face it: Pete's server lives dangerously allowing txp admin access, whatever we do. Infinite loops, spam sending, batch file uploads - a creative hacker would always find a way. Put it in the deepest sandbox you find, I guess hosting companies are not that vulnerable.

[2018-04-11 21:36] petecooper commented on #1241
Thanks @bloatware – I've disabled uploads, so we can all rest easy until I find something else to panic about…

I appreciate your time and attention @bloatware and @Bloke.

[2018-04-11 23:02] Bloke commented on #1231
After a tipoff from StackOverflow and some judicial comparison of successful and unsuccessful uploads, I confirmed that if the transparency index value is the same as the pallet size, it breaks. Defending against it in 130795f has fixed it in all my tests.

I'm happy to close this, but I'll let you all have a play first.

[2018-04-11 23:11] petecooper commented on #1231
I _knew_ turning off uploads on the demo site would bite me! Only took an hour…!

[2018-04-12 10:23] bloatware opened #1242 "Update 4.5 -> 4.7 seems problematic"
The function `load_lang()` is run before the update script. But in 4.7 it uses `owner` column absent in 4.5 and issues a warning just before update. Not sure for the final effect.

[2018-04-12 11:25] Bloke commented on #1242
Will check this out, thanks. Probably we need to dial back the use of owner, or add some defensive code to check if it exists first.

[2018-04-12 16:31] petecooper opened #1243 "There are no custom field pophelp triggers"
### Expected behaviour

I expected to find some information about what custom fields are, by way of an inline `?` pophelp trigger.

### Actual behaviour

There are no custom field pophelp triggers

### Steps to reproduce

* log in
* look for custom field pophelp trigger(s)
* be a bit sad that they don't appear to exist
* be a bit happier knowing that we can probably fix this pretty easily

### Pot

[2018-04-12 16:33] petecooper commented on #1243
Tagging https://github.com/textpattern/pophelp/issues/45 for completeness.

[2018-04-12 20:12] Bloke commented on #1243
There used to be one, way back, on the prefs panel. But since pophelp topics are now tied to the name/ID of the pref, it means we'd need 10 pophelp topics, all identical. There's nowhere else logical upon which to attach the pophelp on the prefs panel, as the group itself can't have pophelp assigned to it (umm, I don't think anyway, would have to check to be sure).

Perhaps it would be good to do

[2018-04-12 20:15] petecooper commented on #1243
Thanks @Bloke – what about something like `custom_fields_overview` attached to the headline, rather than the fields? Works fine for Themes and Forms headers, no prefs attached.

If it's on borrowed time, please disregard this and I'll close – I wasn't clear about the future implementation.

[2018-04-13 12:19] ziselive opened #1245 "Article Status: Sticky, the front desk does not display article content."
### Expected behaviour
Display article contents

### Actual behaviour
Article page does not display content.

### Steps to reproduce
http://text.local/articles/text1
This is the generated link. The live article status can display the article content, but the sticky article does not display the content.

[2018-04-13 20:12] #1245 closed

[2018-04-13 20:16] bloatware commented on #1245
It's not a bug since typically you want to output the sticky articles before the live ones with
[code]
so the second tag outputs only live articles by default. If you don't mind mixing live and sticky articles, call `<txp:article status />` (latest 4.7-dev).

[2018-04-14 02:00] ziselive commented on #1245
ummm... What I mean is how to display the entire content of the sticky article in the default article details page.
This default article details page：/forms/article/default.txp
<article class="article" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
    <meta itemprop="mainEntityOfPage" content="<txp:permlink />">
    <txp:if_individual_article>
        <h1 itemprop="headl

[2018-04-14 08:10] #1231 closed

[2018-04-15 13:30] jools-r commented on #211
Came across this: drmonkeyninja has a plugin for this: [arc_admin_comment_preview](https://github.com/drmonkeyninja/arc_admin_comment_preview). It's not a full edit window (which would be better), just a jQuery preview of the output.

[2018-04-18 17:29] petecooper commented on #177
Bumping this – it's drifted a little since OP, but is it addressed by https://github.com/textpattern/textpattern/commit/f9eb1ac655903e66a68914f8215fed17ea326802 ?

[2018-04-19 19:49] petecooper opened #1246 "MySQL 8 is now available"
MySQL 8 has gone GA today, and there are a whole heap of changes:

https://mysqlserverteam.com/whats-new-in-mysql-8-0-generally-available/

From the article, I can only see `JSON_MERGE()` on the list of deprecated stuff.

It would be sensible to make sure Textpattern plays nicely with MySQL 8, I'll leave this as a reminder. I'll have some time toward the end of April to look into it if nobody else

[2018-04-21 11:30] petecooper commented on #1141
For completeness: https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-1000090

[2018-04-27 09:20] philwareham opened #1247 "Move to details/summary disclosure when browsers fully support it"
The twisties boxes on various panels of the UI can be changed to HTML 5.1 `<details>` tags and `<summary>` tags when browser coverage is adequate. We are dropping IE11 support soon so it'll just be waiting for Edge to implement it. This can remove a fair chunk of custom code we use here with current `<fieldset>` implementation (and we can benefit from the in-built accessibility of those tags inste

[2018-04-27 10:45] petecooper commented on #1235
How's this looking? Worth bumping to 4.7.1 or 4.8 so we can get the ball rolling on 4.7 release?

[2018-04-27 10:46] petecooper commented on #1242
If I can clear a few hours tonight for testing, what can I do here to help this along?

[2018-04-27 10:50] Bloke commented on #1235
Pants, forgot about this, sorry. Will see if I can stuff it in over the weekend. If not, we'll defer it.

[2018-04-27 10:50] philwareham commented on #1235
I looked at the code and couldn't find a way to add a a class easily, so I bumped it to Stef https://github.com/textpattern/textpattern/issues/1235#issuecomment-380032823. I could probably be flagged as a 4.7.1 thing though as I'm not going to directly style those checkboxes (rather give others the ability to if they wish in their themes).

[2018-04-27 10:51] petecooper commented on #1235
+1 for deferring and saving @Bloke some weekend work.

[2018-04-27 10:52] philwareham commented on #1235
OK, pushed t a 4.7.1 issue.

[2018-04-27 10:58] philwareham opened #1248 "Assets panel instead of styles panels?"
See background here: https://forum.textpattern.io/viewtopic.php?id=48528

TLDR; there was talk of changing the 'Styles' panel to a generic 'Assets' panel. Is this a planned 4.7 feature or for a later version? Bearing in mind it has direct consequences for themes it may need to be implemented now to avoid a backwards compatibility issue with any themes down the line.

If implemented now, it needs a

[2018-04-27 11:16] bloatware commented on #1242
@petecooper if you can install a fresh 4.5.7 (I have failed) and then try to upgrade to 4.7, that would be ace. I had some db errors on upgrade from an old 4.5 to 4.7, but it might be me. Thanks!

[2018-04-27 11:31] bloatware commented on #1248
A prototype is working, serving "styles" with the correct `Content-Type` depending on their `.extension`. We could just rename "Styles" to "Assets" in 4.7 if it's ok to store all assets (`.css, .js, ...`) in the same directory. But I'm not sure everyone is fine with it, some people could prefer to keep them separated. In this case there is too much work (imo) to deliver it with 4.7. But if @Bloke

[2018-04-27 11:55] Bloke commented on #1248
It's working fine for me but I'd be tempted to leave the official rename for 4.7.1 or something. Can we get away with it being an undocumented feature for the time being in 4.7.0? Or do we bite this now and fix it?

The main downside is that the disk structure is `/css` which matches all our `event` things. So if we start tinkering with that, it might mean a heap of pain for the admin URLs, and ou

[2018-04-27 12:01] Bloke commented on #1248
One thing I have discussed with Nicolas, btw, is that if we're going to be moving our admin panels over to a better MVC-ish structure with new widgets and whatnot in future versions, the "Asset" handling (Pages/Forms/Styles) should ideally _not_ be in the `vendors/Skin` directory. Then we can use the same Page Form and Css (ahem, Asset, whatever) classes for their respective admin panels too. If w

[2018-04-27 12:50] NicolasGraph commented on #1248
I don't have so much time these days but here are my thoughts.

I would try to keep things tidy with an _Assets_ tab/directory and some asset types related groups/subdirectories as for form types.

Should we just update the pophelp to reflect this? […]

Yes, I think it would be enough.

Now, I guess a small problem is about vocabulary… I use Asset in the Skin package as a generic term defining pag

[2018-04-27 12:55] Bloke commented on #1248
Yes, that's what I was alluding to above. It could get mighty confusing if we publicly referred to anything _not_ Pages and Forms as "Assets" but the code used that termionology for all parts of the theme.

Once we decide on an approach, it may be nice if we could have the dual names working side-by-side for a version or two. Not sure how feasible that would be, given that Txp's event system and m

[2018-04-27 13:00] bloatware commented on #1248
Not sure to understand everything, but if "Assets" class name is taken, we can call the new one "Resources" or whatever. Only the new tag might be called `<txp:assets />`, or we could even enhance `<txp:output_form />`, who knows. But I feel that storing all resources (CSS, JS etc) in the same directory can be confusing, code and usability wise. I would leave it as experimental feature (under `Sty

[2018-04-27 13:56] petecooper commented on #1242
@bloatware - sure thing. Do you want any kind of extra debug information, if indeed that's possible?

[2018-04-27 14:53] philwareham commented on #1248
FWIW I think the move to a general assets tab should be done at 4.8 *as long as the current structure of themes won't get broken by it.* We are way too close to a release to retool everything again.

i.e. as long as `pages`, `forms`, `styles` can still be allowed if an `resources` (or whatever it'll be called) directory is introduced in future then it's fine.

On a separate note - I'd rather somet

[2018-04-27 15:43] Bloke commented on #1248
That's the million dollar statement. The only way I can see to move forward is:

1. if your _resources_ (or whatever we end up calling them) end up populating a directory per type. `/css` and `/js` and `/txt` and `/svg` etc. That'd still be slightly odd transitioning from 4.7 (all resources in the `/css` dir) -> 4.8 (resources in separate subdirs).
2. we store them all together and move all files

[2018-04-27 20:34] bloatware commented on #1242
@petecooper yes, please, do it in debug mode. AFAIR, I got some "unknown 'owner' field" message.

[2018-04-27 21:10] bloatware commented on #1248
I think we'll need a migration plan either way, be it for 4.7.0 or 4.7.1. Currently, "css" directory is called `styles`, so, if we take the way 1, it should be renamed to `css` (we could make an exception, though). The way 2 yields renaming it to something assetish and possibly creating sub-directories.

If people have already started using 4.7 in production, we'd better postpone it to 4.7.1+. Oth

[2018-04-27 21:15] Bloke commented on #1248
Agreed. Migration plan required. Whatever everyone thinks is the best/least disruptive.

I think you're right that just changing the name in the base class is sufficient to trigger the new name if everything is being stored in one dir.

I'm fine with a hidden pref. With this many Easter Eggs in 4.7.0, we ought to subtitle this release "chocoholic".

[2018-04-27 21:41] petecooper commented on #1242
@bloatware - I've built a VirtualBox VM with Ubuntu 14.04LTS with Textpattern 4.5.7 ready to go, with snapshots for various steps along the way. Would you like a copy for your testing arsenal?

I will try the 4.5.7 to 4.7.0 next and report back.

[2018-04-27 22:42] petecooper commented on #1242
Confirmed 4.5.7 to 4.7.0-dev is fatal.

**STR**
* install vanilla 4.5.7 (please ask if you want a prepared VM)
* enable debugging mode
* follow standard upgrade instructions
* note error text on admin-side and front-side

**Admin error text**
[code]

**Front error text**
[code]

Slightly rough screencast attached, plus before and after databases (there are differences).

[1242.mp4.zip](https://git

[2018-04-27 22:43] petecooper commented on #1242
PS: `Verification required` badge can be removed.

[2018-04-27 23:02] petecooper commented on #1242
Just tried 4.4.1 -> 4.7.0-dev with different results. Summarised:

* I can log in, unlike 4.5.7
* one-off error that I didn't catch but can reproduce if of use
* persistent error in admin-side:

[code]

* front side error:

[code]

[2018-04-28 10:27] bloatware commented on #1242
Thanks, @petecooper. It's even worse then, I have no idea for 4.4->4.7 error. Not using VM atm, but will ask you for a copy if needed.

[2018-04-29 10:54] NicolasGraph commented on #1248
Indeed, it should work.

[2018-04-30 10:18] philwareham commented on #1246
I can't personally test this until MAMP bundles it in a release.

[2018-04-30 10:18] petecooper commented on #1246
No worries - assign to me for now, please.

[2018-04-30 10:21] philwareham opened #1250 "Textpattern 4.7 RC1"
Please list below any blocking issues to the release of Textpattern 4.7 RC1. We should aim to get this out ASAP I feel. Thanks.

- [x] Test with MySQL 8 (petecooper) #1246
- [x] Update 4.5 -> 4.7 seems problematic (anyone) #1242
- [x] GDPR compliance #1252

[2018-04-30 10:41] petecooper commented on #1246
I'll do this today.

[2018-04-30 11:31] petecooper commented on #1246
Commencing dump of MySQL 8 stuff - please ignore until I'm done.

New message on server install (Ubuntu 18.04LTS, added repo from Oracle):

![terminalscreensnapz001](https://user-images.githubusercontent.com/226578/39425238-62053600-4c72-11e8-999a-15f344b24158.png)

[code]

[2018-04-30 12:58] bloatware commented on #1248
I was not able to find a reliable way to initialize `Css` class static variables from a pref, `Skin` classes hierarchy is too complex for my understanding. So -1 egg, +1 for postponing to 4.7.1+, unless someone shows me the light.

[2018-04-30 13:00] NicolasGraph commented on #1248
I'm gonna take a look…

[2018-04-30 13:06] NicolasGraph commented on #1248
Which static variables would you like to initialize and from which kind of value?

[2018-04-30 13:10] bloatware commented on #1248
@NicolasGraph thanks! Take a look at `Css.php`, I need to populate `$mimeTypes` from some pref. FYI, I have tried to init it in autoloader, adding
[code]
to `Css` class and calling `_init` method in Loader::load(). This works on the public side, but seems to fail on theme export/import.

[2018-04-30 14:45] bloatware commented on #1242
@petecooper could you retest if 4.5->4.7 is fixed, please?

[2018-04-30 14:46] NicolasGraph commented on #1248
I'd like to test some code but I'm not sure how…
With the `$Mimetypes` property filled, on the public side, adding a 'js' extension to a style should modify its header when outputted with the css tag, and on the admin side js files should be imported/exported normally, right?

[2018-04-30 14:57] petecooper commented on #1242
Yes -- can you assign this to me and I'll test this evening.

[2018-04-30 15:36] bloatware commented on #1248
Few `<txp:css />` details [here](https://forum.textpattern.io/viewtopic.php?pid=311054#p311054).

[2018-04-30 15:41] NicolasGraph commented on #1248
Thanks @bloatware, I didn't remember about the `type` attribute and tried `extension`.
For now I have the same problem as you: my code does work on the public side but not on the admin side. I'll try do find why this evening, or tomorrow morning.

[2018-04-30 17:11] NicolasGraph commented on #1248
Can anyone remember me how to disable the async mode or to see PHP errors on the Skin tab using this mode please?

[2018-04-30 17:11] petecooper commented on #1246
Fresh install of MySQL 8 Server and Client comes to about 418MB with dependencies:

[code]

[2018-04-30 17:30] petecooper opened #1251 "[RFC] Prevent `/textpattern/setup/index.php` from running if `/textpattern/config.php` exists"
How much mileage is there in preventing `/textpattern/setup/index.php` from running if `/textpattern/config.php` exists?

The primary advantage I can see is that the potential attack surface of `/textpattern/setup/index.php` is reduced if it won't proceed, so where an administrator has omitted to remove the `/textpattern/setup` directory, it won't proceed beyond that initial check.

[2018-04-30 17:37] petecooper commented on #1246
Using the Legacy Authentication Method, I can report a clean installation of 4.7.0-dev. Navigation throughout the admin-side is smooth, no strangeness to report, low-tier diagnostics are attached for your reference:

[code]

Assuming that Legacy mode is used, *all good in core* as far as I can tell.

Whether Strong Password Encryption mode throws any curveballs, I'll try and get that working and r

[2018-04-30 17:38] Bloke commented on #1251
IIRC, it does stop if you get past the language selection. We could go the extra mile and do that check earlier, perhaps? But any message that would indicate this is the case would then always be in English.

[2018-04-30 17:47] petecooper commented on #1251
@Bloke - thank you. It does stop past the language selection screen, but does that leave the file itself open to tomfoolery? I know it's been a thing in the past with carefully-crafted URLs.

[2018-04-30 22:58] jools-r commented on #1242
[This line](https://github.com/textpattern/textpattern/commit/5da8523867861937fa12632b5f35340860a99c62#diff-d79294d41f4c07f4da46013c5b82c8efR546) is what is causing the MySQL syntax error and preventing the language strings from loading.

I just tried upgrading a 4.3 version of an old site if mine and experienced similar/identical messages to Pete's. With a couple of public side reloads / admin lo

[2018-04-30 23:17] bloatware commented on #1242
[Shame](https://github.com/textpattern/textpattern/commit/4b5f18c1542c5b44db656d731049fb38d09d9707) on me

[2018-05-01 07:00] NicolasGraph commented on #1248
The commit above should work as expected but I would prefer that @bloatware or @Bloke confirm it. I can open a PR to whatever branch you'd like if needed.

However, I would just like to make you notice that as for now the way mime types work break some features for files named like `name.type.css`. It would be probably stupid to do that but if you have a `test.js.css` file, it would be imported as

[2018-05-01 08:35] philwareham commented on #1242
Is this fixed now? Thanks.

[2018-05-01 08:37] petecooper commented on #1242
I'll retest here this morning and report back.

[2018-05-01 08:38] philwareham commented on #1246
OK, I'm going to tentatively close the issue. If something arises after 4.7 release we can revisit as a patch fix. Thanks for the testing and reports Pete!

[2018-05-01 08:38] #1246 closed

[2018-05-01 08:45] petecooper commented on #1242
I'm still getting an admin-side error on login (note: no `internal error.` this time):

[code]

[2018-05-01 09:05] Bloke commented on #1242
I'm testing too -from even further back - but hitting all sorts of snags. Not least of which is that after logging into the admin side and navigating to any other tab I get kicked out back to the login screen. Doesn't seem to be storing the cookie on localhost for some reason. Or MAMP is misconfigured somehow. I did have to dial it back to use an older version of PHP and put up with the constant w

[2018-05-01 09:29] jools-r commented on #1242
Having already upgraded I don't see the other errors. The [error mentioned above](https://github.com/textpattern/textpattern/issues/1242#issuecomment-385553353) is resolved but I still get all plugin language strings as the gTxt names.

[2018-05-01 09:32] petecooper commented on #1242
I'll have time this evening to help with this, and I can make some VirtualBox prefab images if you want a disposable/snapshot-able LAMP environment to use.

[2018-05-01 09:34] Bloke commented on #1242
Dammit, we use `owner` all over the place in `L10n/Lang.php`. We can probably get away with the ones in `upsertPack()` (maybe) since that is only run _after_ the database changes have occurred. But the one in the `available()` method is causing issues, as Pete found out.

That means more version checks or a better workaround. Peppering the methods in this class with 'if version' checks is kind of

[2018-05-01 09:38] jools-r commented on #1242
Addendum to [the note above](https://github.com/textpattern/textpattern/issues/1242#issuecomment-385633770): the reason for that was the pref `version` was still at 4.3.0 and hadn't been updated. Manually changing it to 4.7.0 restores the correct plugin languages behaviour. So it may not be that line but part of the preceding semi-borked update.

[2018-05-01 10:26] Bloke commented on #1242
I'm confused by this:

[code]

By the time this line is reached in `_update.php` all database modifications have been performed (i.e. all `_to_x.y.z.php` files have been processed) and this database column should therefore exist.

Head scratch...

[2018-05-01 10:27] petecooper commented on #1242
@Bloke - I can re-run it this evening when I have a bit of time - are the before & after db dumps any use?

[2018-05-01 11:10] Bloke commented on #1242
Going from an even earlier version (4.0.0 in this case: okay okay, extreme!) yields even more problems, but this may also affect anyone on 4.2.0:

[code]

We can probably get round the missing 1.0.0 file (and indeed the 4.0.2 file) by just removing those entries from the `$dbupdates` array in `_update.php`. They probably shouldn't be there anyway as those files no longer exist. Not sure if that ha

[2018-05-01 11:26] bloatware commented on #1248
Thanks @NicolasGraph, that should work. But I still would like to understand why initializing `$mimeTypes` on class autoload does not suffice.

The idea was to release this useful functionality as experimental and opt-in. Those who wish could create a pref (e.g. via a plugin) and test it, knowing that it could evaluate later. Anyway, we will need a migration plan to integrate the present `css` int

[2018-05-01 11:49] bloatware commented on #1242
Unlikely, but could there be a delay before the column is actually created? Does sleeping few seconds help?

[2018-05-01 11:53] petecooper commented on #1242
Can we buildout a grid of what works and what doesn't version-wise? It's not beyond the realms of reasonable to have veeeerrrrryyyy old versions move to 4.6.2 first, _then_ make a jump to the most recent version.

I have a vague memory of @vanmelick opening (or adding to) an issue where really old versions should be out of official support, but it's hazy.

[2018-05-01 11:57] NicolasGraph commented on #1248
@bloatware, could you show how you wanted to call the _init method in the loader please?

[2018-05-01 12:08] Bloke commented on #1242
Sure, I've got no issues with supporting only recentish builds from a direct upgrade stance. Especially since it's possilbe to upgrade to the latest from the earliest, with a couple of hoops to jump through. Basic rule of thumb:

* Anything prior to 4.2.0, jump to 4.2.0 first and let it get the `unknown user_name` issues out of its system first by doing a few login cycles / admin tab dances.
* Any

[2018-05-01 12:15] Bloke commented on #1248
Is it due to the way the class is instantiated via our autoloader? If we're using static stuff isn't it better to implement `ReusableInterface`? Maybe that's why it works if it's checked directly. I'm a bit wary of instantiating directly without going through `Txp::get('\Textpattern\Class')` first, though.

That said, the class ought to be able to handle static class variables inside it just fine,

[2018-05-01 12:16] bloatware commented on #1248
Sure, I've added this inside `if_class_exists` of `load()` method in `Loader.php`:
[code]
Then I've added  a static `_init()` method with `$mimeTypes` initialization to `Css`. I see a trace of it on both public and admin sides, but only the public side works properly.

[2018-05-01 12:16] NicolasGraph commented on #1248
I can't see the Css class loaded in the skin tab… I'm not familiar with the loader but I guess that is why you can't make it work.

[2018-05-01 12:24] petecooper commented on #1242
I found that @vanmelick thread: https://github.com/textpattern/textpattern/issues/574

[2018-05-01 12:28] NicolasGraph commented on #1248
@bloatware, can you confirm me that the above code works as expected?

[2018-05-01 12:45] Bloke commented on #1248
Yes, which is only an issue because it's static... right?

Can we take a step back and try to find a way to do it in a conventional non-static fashion? I'm still a trifle concerned that we just make everything static that we want to share or cache. And, yes, I know PHP (and/or our codebase) isn't really geared up for doing it any other way, but over time I'd like to try and break this cycle and in

[2018-05-01 13:55] Bloke commented on #1242
Yep, and if we get this thread licked, we can get people to jump straight from 4.5.7 to 4.7.0. Save a row, save the world.

[2018-05-01 15:50] petecooper commented on #1242
@Bloke - what would you like tested? I can squeeze a couple of hours this evening.

[2018-05-01 16:12] Bloke commented on #1242
Thank you. Ideally it should work with any site status. Debugging will give you the greatest chance of seeing any snafus. We'll try and sneak some patches in early evening to catch some of the edge cases you've found.

("we", may be "I" if I get time).

[2018-05-01 18:02] Bloke commented on #1242
See 77b64c09 for a partial fix to the Duplicate entry bug. Probably just need to tweak `DB/Core.php` now to copy its value across. Will do that next.

[2018-05-01 21:37] bloatware commented on #1248
Thanks @NicolasGraph, it seems to work in my tests. I guess calling a class function triggers the loader, unlike a static variable. So we have a solution in this case, but it would be even better if we could ensure somehow that all classes are initialized before their use. Thanks again, ace work!

[2018-05-02 07:09] NicolasGraph commented on #1248
Do you need me to push the code anywhere?

Yes, that's also my guess.

I'm not sure to understand what you think about.

[2018-05-02 10:32] Bloke commented on #1248
Nice sleuthing! Can't see any drawbacks from an operational standpoint. As long as a class is returned as an instance, it shouldn't matter if it's initialized with options or not. Perhaps the only reason for the differentiator was that the Reflection interface has baggage - e.g. weight/performance implications?

[2018-05-02 10:49] bloatware commented on #1248
Jukka only knows :-) Funny that **new** does not seem to call the constructor immediately: when does it happen then?

[2018-05-02 10:52] Bloke commented on #1248
The PHP development only knows :-)

[2018-05-02 10:59] bloatware commented on #1248
Well, should we introduce a new interface that will call the constructor whatever options? Then `Css` would implement this and `ReusableInterface` perhaps?